{% extends "./_layout.html" %}
{% block body_style %} sidebar-opposite-visible {% endblock %}

{% block content %}
    <!-- Post -->
    <div class="panel">
        <div class="panel-body">
            <div class="content-group-lg">
{#                <div class="content-group text-center">
                    <a href="#" class="display-inline-block">
                        <img src="/themes/limitless/assets/images/placeholder.jpg" class="img-responsive" alt="">
                    </a>
                </div>#}

                <h3 class="text-semibold mb-5">
                    <a href="#" class="text-default"><$ post.title $></a>
                </h3>

                <ul class="list-inline list-inline-separate text-muted content-group">
                    {#<li>By <a href="#" class="text-muted"><$ post.author | get_nickname $></a></li>#}
                    <li><$ post.modified | moment $></li>
                    {#<li><a href="#" class="text-muted">12 comments</a></li>#}
                    {#<li><a href="#" class="text-muted"><i class="icon-heart6 text-size-base text-pink position-left"></i> 281</a></li>#}
                </ul>


                <div class="content-group">
                    <$ post.content | safe $>

                </div>
                {#<blockquote class="panel panel-body border-left-lg border-left-warning">#}
                    {#<img src="/themes/limitless/assets/images/placeholder.jpg" class="img-circle" alt="">#}
                    {#Dear far dove lynx inaudibly between after under after on some far warthog regardless wrote.#}
                    {#<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>#}
                {#</blockquote>#}

            </div>

        </div>
    </div>
    <!-- /post -->

{% endblock %}

{% block opposite_sidebar %} <$ super() $>{% endblock %}

{% block script %}
    <script type="text/javascript" src="/themes/limitless/ckeditor/ckeditor.js"></script>

{% endblock %}

{% block page_script %}
    <script type="text/javascript" src="/themes/limitless/assets/js/pages/blog_single.js"></script>
{% endblock %}

