{% extends "./_layout.html" %}


{% block content %}


<!-- Post -->
<div class="panel">
    <div class="panel-body">
        <div class="content-group-lg">
            <div class="content-group text-center">
                <a href="#" class="display-inline-block">
                    <img src="assets/images/placeholder.jpg" class="img-responsive" alt="">
                </a>
            </div>

            <h3 class="text-semibold mb-5">
                <a href="#" class="text-default">Although moreover mistaken kindness me feelings do be marianne</a>
            </h3>

            <ul class="list-inline list-inline-separate text-muted content-group">
                <li>By <a href="#" class="text-muted">Eugene</a></li>
                <li>July 5th, 2016</li>
                <li><a href="#" class="text-muted">12 comments</a></li>
                <li><a href="#" class="text-muted"><i class="icon-heart6 text-size-base text-pink position-left"></i> 281</a></li>
            </ul>

            <div class="content-group">
                <p>Attachment apartments in delightful by motionless it no. And now she burst sir learn total. Hearing hearted shewing own ask. Solicitude uncommonly use her motionless not collecting age. The properly servants required mistaken outlived bed and. Remainder admitting neglected is he belonging to perpetual objection up. Has widen too you decay begin which asked equal any.</p>

                <p>Started his hearted any civilly. So me by marianne admitted speaking. Men bred fine call ask. Cease one miles truth day above seven. Suspicion sportsmen provision suffering mrs saw engrossed something. Snug soon he on plan in be dine some.</p>

                <p>Death there mirth way the noisy merit. Piqued shy spring nor six though mutual living ask extent. Replying of dashwood advanced ladyship smallest disposal or. Attempt offices own improve now see. Called person are around county talked her esteem. Those fully these way nay thing seems.</p>
            </div>

            <blockquote class="no-margin panel panel-body border-left-lg border-left-warning">
                <img src="assets/images/placeholder.jpg" class="img-circle" alt="">
                Dear far dove lynx inaudibly between after under after on some far warthog regardless wrote.
                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </div>

        <div class="content-group-lg">
            <h5 class="text-semibold">Insipidity the sufficient discretion</h5>

            <p>Raising say express had chiefly detract demands she. Quiet led own cause three him. Front no party young abode state up. Saved he do fruit woody of to. Met defective are allowance two perceived listening consulted contained. It chicken oh colonel pressed excited suppose to shortly. He improve started no we manners however effects. Prospect humoured mistress to by proposal marianne attended. Simplicity the far admiration preference everything. Up help home head spot an he room in.</p>

            <p>Unpleasant nor diminution excellence apartments imprudence the met new. Draw part them he an to he roof only. Music leave say doors him. Tore bred form if sigh case as do. Staying he no looking if do opinion. Sentiments way understood end partiality and his.</p>
        </div>

        <div>
            <h5 class="text-semibold">Out believe has request not how comfort evident</h5>

            <p class="content-group">Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel find man. Learning day desirous informed expenses material returned six the. She enabled invited exposed him another. Reasonably conviction solicitude me mr at discretion reasonable. Age out full gate bed day lose.</p>

            <div class="row">
                <div class="col-sm-4">
                    <ul class="list list-icons">
                        <li>
                            <i class="icon-checkmark3 text-success position-left"></i>
                            Style never met and those among great
                        </li>
                        <li>
                            <i class="icon-checkmark3 text-success position-left"></i>
                            At no or september sportsmen
                        </li>
                        <li>
                            <i class="icon-checkmark3 text-success position-left"></i>
                            Depending listening delivered
                        </li>
                        <li>
                            <i class="icon-checkmark3 text-success position-left"></i>
                            Person plenty answer to exeter it
                        </li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <ul class="list list-icons">
                        <li>
                            <i class="icon-checkmark3 text-success position-left"></i>
                            Law use assistance especially resolution
                        </li>
                        <li>
                            <i class="icon-checkmark3 text-success position-left"></i>
                            Way necessary had intention happiness
                        </li>
                        <li>
                            <i class="icon-checkmark3 text-success position-left"></i>
                            Furniture furnished or on strangers
                        </li>
                        <li>
                            <i class="icon-checkmark3 text-success position-left"></i>
                            But why smiling man her imagine
                        </li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <ul class="list list-icons">
                        <li>
                            <i class="icon-checkmark3 text-success position-left"></i>
                            Chiefly can man her out believe
                        </li>
                        <li>
                            <i class="icon-checkmark3 text-success position-left"></i>
                            Solicitude it introduced companions
                        </li>
                        <li>
                            <i class="icon-checkmark3 text-success position-left"></i>
                            My almost or horses period
                        </li>
                        <li>
                            <i class="icon-checkmark3 text-success position-left"></i>
                            Motionless are six terminated man
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /post -->


<!-- About author -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">About the author<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>

        <div class="heading-elements">
            <ul class="icons-list icons-list-extended heading-text">
                <li><a href="#" data-popup="tooltip" data-container="body" title="Google Drive"><i class="icon-google-drive"></i></a></li>
                <li><a href="#" data-popup="tooltip" data-container="body" title="Twitter"><i class="icon-twitter"></i></a></li>
                <li><a href="#" data-popup="tooltip" data-container="body" title="Github"><i class="icon-github"></i></a></li>
                <li><a href="#" data-popup="tooltip" data-container="body" title="Linked In"><i class="icon-linkedin"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="media panel-body no-margin">
        <div class="media-left">
            <a href="#">
                <img src="assets/images/placeholder.jpg" style="width: 68px; height: 68px;" class="img-circle" alt="">
            </a>
        </div>

        <div class="media-body">
            <h6 class="media-heading text-semibold">James Alexander</h6>
            <p>So slit more darn hey well wore submissive savage this shark aardvark fumed thoughtfully much drank when angelfish so outgrew some alas vigorously therefore warthog superb less oh groundhog less alas gibbered barked some hey despicably with aesthetic hamster jay by luckily</p>

            <ul class="list-inline list-inline-separate no-margin">
                <li><a href="#">Author profile</a></li>
                <li><a href="#">All posts by James</a></li>
                <li><a href="#">http://website.com</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /about author -->


<!-- Comments -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title text-semiold">Discussion</h6>
        <div class="heading-elements">
            <ul class="list-inline list-inline-separate heading-text text-muted">
                <li>42 comments</li>
                <li>75 pending review</li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <ul class="media-list stack-media-on-mobile">
            <li class="media">
                <div class="media-left">
                    <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                </div>

                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="text-semibold">William Jennings</a>
                        <span class="media-annotation dotted">Just now</span>
                    </div>

                    <p>He moonlight difficult engrossed an it sportsmen. Interested has all devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to.</p>

                    <ul class="list-inline list-inline-separate text-size-small">
                        <li>114 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                        <li><a href="#">Reply</a></li>
                        <li><a href="#">Edit</a></li>
                    </ul>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                </div>

                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="text-semibold">Margo Baker</a>
                        <span class="media-annotation dotted">5 minutes ago</span>
                    </div>

                    <p>Place voice no arise along to. Parlors waiting so against me no. Wishing calling are warrant settled was luckily. Express besides it present if at an opinion visitor.</p>

                    <ul class="list-inline list-inline-separate text-size-small">
                        <li>90 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                        <li><a href="#">Reply</a></li>
                        <li><a href="#">Edit</a></li>
                    </ul>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                </div>

                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="text-semibold">James Alexander</a>
                        <span class="media-annotation dotted">7 minutes ago</span>
                    </div>

                    <p>Savings her pleased are several started females met. Short her not among being any. Thing of judge fruit charm views do. Miles mr an forty along as he.</p>

                    <ul class="list-inline list-inline-separate text-size-small">
                        <li>70 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                        <li><a href="#">Reply</a></li>
                        <li><a href="#">Edit</a></li>
                    </ul>

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                        </div>

                        <div class="media-body">
                            <div class="media-heading">
                                <a href="#" class="text-semibold">Jack Cooper</a>
                                <span class="media-annotation dotted">10 minutes ago</span>
                            </div>

                            <p>She education get middleton day agreement performed preserved unwilling. Do however as pleased offence outward beloved by present. By outward neither he so covered.</p>

                            <ul class="list-inline list-inline-separate text-size-small">
                                <li>67 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                                <li><a href="#">Reply</a></li>
                                <li><a href="#">Edit</a></li>
                            </ul>

                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                                </div>

                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="#" class="text-semibold">Natalie Wallace</a>
                                        <span class="media-annotation dotted">1 hour ago</span>
                                    </div>

                                    <p>Juvenile proposal betrayed he an informed weddings followed. Precaution day see imprudence sympathize principles. At full leaf give quit to in they up.</p>

                                    <ul class="list-inline list-inline-separate text-size-small">
                                        <li>54 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                                        <li><a href="#">Reply</a></li>
                                        <li><a href="#">Edit</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                                </div>

                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="#" class="text-semibold">Nicolette Grey</a>
                                        <span class="media-annotation dotted">2 hours ago</span>
                                    </div>

                                    <p>Although moreover mistaken kindness me feelings do be marianne. Son over own nay with tell they cold upon are. Cordial village and settled she ability law herself.</p>

                                    <ul class="list-inline list-inline-separate text-size-small">
                                        <li>41 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                                        <li><a href="#">Reply</a></li>
                                        <li><a href="#">Edit</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                </div>

                <div class="media-body">
                    <div class="media-heading">
                        <a href="#" class="text-semibold">Victoria Johnson</a>
                        <span class="media-annotation dotted">3 hours ago</span>
                    </div>

                    <p>Finished why bringing but sir bachelor unpacked any thoughts. Unpleasing unsatiable particular inquietude did nor sir.</p>

                    <ul class="list-inline list-inline-separate text-size-small">
                        <li>32 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                        <li><a href="#">Reply</a></li>
                        <li><a href="#">Edit</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <hr class="no-margin">

    <div class="panel-body">
        <h6 class="no-margin-top content-group">Add comment</h6>
        <div class="content-group">
            <div id="add-comment">Get his declared appetite distance his together now families. Friends am himself at on norland it viewing. Suspected elsewhere you belonging continued commanded she...</div>
        </div>

        <div class="text-right">
            <button type="button" class="btn bg-blue"><i class="icon-plus22"></i> Add comment</button>
        </div>
    </div>
</div>
<!-- /comments -->


{% endblock %}