{% extends "./_layout.html" %}

{% block style %}
	<style>
		/**! 27. Image Blocks **/
		.imageblock {
			position: relative;
			padding: 0;
		}
		.imageblock > .container,
		.imageblock > div[class*='col-']:not(.imageblock__content) {
			padding-top: 7.42857143em;
			padding-bottom: 7.42857143em;
			float: none;
			overflow: hidden;
		}
		.imageblock.imageblock--lg > .container,
		.imageblock.imageblock--lg > div[class*='col-']:not(.imageblock__content) {
			padding-top: 9.28571429em;
			padding-bottom: 9.28571429em;
			float: none;
			overflow: hidden;
		}
		.imageblock .imageblock__content {
			position: absolute;
			height: 100%;
			top: 0;
			z-index: 2;
			padding: 0;
		}
		.imageblock .imageblock__content .slider {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
		}
		.imageblock .imageblock__content .slider .slides > li {
			padding: 0;
			min-height: 100%;
			position: absolute !important;
		}
		.imageblock.allow-overflow .imageblock__content {
			overflow: visible;
		}
		@media all and (max-width: 767px) {
			.imageblock[class*='space-'] {
				padding-bottom: 0;
				padding-top: 0;
			}
			.imageblock .imageblock__content {
				position: relative;
				min-height: 18.57142857em;
			}
			.imageblock > .container,
			.imageblock > div[class*='col-']:not(.imageblock__content) {
				padding-top: 5.57142857em;
				padding-bottom: 5.57142857em;
				float: none;
				overflow: hidden;
			}
			.imageblock.imageblock--lg > .container,
			.imageblock.imageblock--lg > div[class*='col-']:not(.imageblock__content) {
				padding-top: 5.57142857em;
				padding-bottom: 5.57142857em;
				float: none;
				overflow: hidden;
			}
		}

		.background-image-holder {
			will-change: transform, top;
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			background-size: cover !important;
			background-position: 50% 50% !important;
			z-index: 0;
			transition: 0.3s linear;
			-webkit-transition: 0.3s linear;
			-moz-transition: 0.3s linear;
			opacity: 0;
			background: #252525;
		}
		.background-image-holder:not([class*='col-']) {
			width: 100%;
		}
		.background-image-holder.background--bottom {
			background-position: 50% 100% !important;
		}
		.background-image-holder.background--top {
			background-position: 50% 0% !important;
		}
		.image--light .background-image-holder {
			background: none;
		}
		.background-image-holder img {
			display: none;
		}
	</style>
{% endblock %}
{% block content %}
{#<div id="posts">#}
	{#<vue-markdown>i am a ~~tast~~ **test**.</vue-markdown>#}
{##}
{#</div>#}
	<div class="row" data-plugin="masonry" id="posts">
        {% for _ in posts %}
            {#{% set display_name = _.author | display_name | truncate(12, true) %}#}

			<div class="col-lg-6 col-md-6 col-xs-12 masonry-item">
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h5 class="panel-title text-semibold">
							<a href="/article/<$ _.id $>"><$ _.title | truncate(18, true) $></a>

						</h5>
					</div>
					<div class="panel-body">
						<div class="content-group">
							{#<vue-markdown>#}
								<$ _.excerpt | safe $>
							{#</vue-markdown>#}
						</div>

						<div class="thumb content-group">
                            {#<img src="/static/assets/images/demo/blog/1.jpg" alt="" class="img-responsive">#}
							<div class="caption-overflow">
										<span>
											<a href="blog_single.html"
											   class="btn btn-flat border-white text-white btn-rounded btn-icon legitRipple"><i
														class="icon-arrow-right8"></i></a>
										</span>
							</div>
						</div>

					</div>
					<div class="panel-footer panel-footer-condensed">
						<div class="heading-elements not-collapsible">
							<ul class="list-inline list-inline-separate heading-text text-muted">
								{#<li>By <a href="#" class="text-muted"><$ display_name $></a></li>#}
								<li><$ _.modified | moment $></li>
								{#<li><a href="#" class="text-muted">12 comments</a></li>#}
								{#<li><a href="#" class="text-muted"><i class="icon-heart6 text-size-base text-pink position-left"></i> 281</a></li>#}
							</ul>

							<a href="/article/<$ _.id $>" class="heading-text pull-right">全文<i class="icon-arrow-right14 position-right"></i></a>
						</div>
					</div>
				</div>


			</div>

        {% endfor %}
	</div>

	<!-- Pagination -->

	<div class="text-center content-group-lg pt-20">
		<$ pagerData | safe $>

	</div>

	<!-- /pagination -->
{% endblock %}

{% block body_style %} sidebar-opposite-visible {% endblock %}

{#
{% block opposite_sidebar %}

	<div class="sidebar sidebar-opposite sidebar-default sidebar-separate">
		<div class="sidebar-content">

			<!-- Categories -->
			<div class="sidebar-category">
				<div class="category-title">
					<span>文章分类</span>
					<ul class="icons-list">
						<li><a href="#" data-action="collapse"></a></li>
					</ul>
				</div>

				<div class="category-content no-padding">
					<ul class="navigation">
						<li>
							<a href="#" class="legitRipple">
								<span class="text-muted text-size-small text-regular pull-right">12</span>
								<i class="icon-wordpress"></i>
								Wordpress
							</a>
						</li>

						<li>
							<a href="#" class="legitRipple">
								<span class="text-muted text-size-small text-regular pull-right">26</span>
								<i class="icon-film2"></i>
								Video
							</a>
						</li>

						<li>
							<a href="#" class="legitRipple">
								<span class="text-muted text-size-small text-regular pull-right">83</span>
								<i class="icon-images2"></i>
								Images
							</a>
						</li>

						<li>
							<a href="#" class="legitRipple">
								<span class="text-muted text-size-small text-regular pull-right">43</span>
								<i class="icon-certificate"></i>
								Articles
							</a>
						</li>

						<li>
							<a href="#" class="legitRipple">
								<span class="text-muted text-size-small text-regular pull-right">72</span>
								<i class="icon-camera"></i>
								Photography
							</a>
						</li>

						<li>
							<a href="#" class="legitRipple">
								<span class="text-muted text-size-small text-regular pull-right">97</span>
								<i class="icon-bookmark"></i>
								Books
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- /categories -->


		</div>
	</div>
{% endblock %}

#}

{% block script %}
{#
<script>
    Vue.use(VueMarkdown);
    var vm = new Vue({
        el: "#posts"
    });
</script>
#}
{% endblock %}
