{% extends "./_layout.html" %}

{% block style %}
	<style>
		/**! 31. Switchable Sections **/
		.switchable {
			position: relative;
		}
		.switchable div[class*='col-']:first-child {
			float: left;
			right: auto;
		}
		.switchable div[class*='col-']:first-child:not([class*='pull']):not([class*='push']) {
			left: 0;
		}
		.switchable div[class*='col-']:last-child {
			float: right;
			left: auto;
		}
		.switchable div[class*='col-']:last-child:not([class*='pull']):not([class*='push']) {
			right: 0;
		}
		.switchable.switchable--switch div[class*='col-']:first-child {
			float: right;
			right: 0;
			left: auto;
		}
		.switchable.switchable--switch div[class*='col-']:first-child:not([class*='pull']):not([class*='push']) {
			left: auto;
		}
		.switchable.switchable--switch div[class*='col-']:last-child {
			float: left;
			left: 0;
			right: auto;
		}
		.switchable .switchable__text {
			margin-top: 3.71428571em;
		}
		.switchable > div[class*='col-'] {
			padding: 0;
		}
		/**! 27. Image Blocks **/
		.imageblock {
			position: relative;
			padding: 0;
		}
		.imageblock > .container,
		.imageblock > div[class*='col-']:not(.imageblock__content) {
			padding-top: 7.42857143em;
			padding-bottom: 7.42857143em;
			float: none;
			overflow: hidden;
		}
		.imageblock.imageblock--lg > .container,
		.imageblock.imageblock--lg > div[class*='col-']:not(.imageblock__content) {
			padding-top: 9.28571429em;
			padding-bottom: 9.28571429em;
			float: none;
			overflow: hidden;
		}
		.imageblock .imageblock__content {
			position: absolute;
			height: 100%;
			top: 0;
			z-index: 2;
			padding: 0;
		}
		.imageblock .imageblock__content .slider {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
		}
		.imageblock .imageblock__content .slider .slides > li {
			padding: 0;
			min-height: 100%;
			position: absolute !important;
		}
		.imageblock.allow-overflow .imageblock__content {
			overflow: visible;
		}
		@media all and (max-width: 767px) {
			.imageblock[class*='space-'] {
				padding-bottom: 0;
				padding-top: 0;
			}
			.imageblock .imageblock__content {
				position: relative;
				min-height: 18.57142857em;
			}
			.imageblock > .container,
			.imageblock > div[class*='col-']:not(.imageblock__content) {
				padding-top: 5.57142857em;
				padding-bottom: 5.57142857em;
				float: none;
				overflow: hidden;
			}
			.imageblock.imageblock--lg > .container,
			.imageblock.imageblock--lg > div[class*='col-']:not(.imageblock__content) {
				padding-top: 5.57142857em;
				padding-bottom: 5.57142857em;
				float: none;
				overflow: hidden;
			}
		}

		.background-image-holder {
			will-change: transform, top;
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			background-size: cover !important;
			background-position: 50% 50% !important;
			z-index: 0;
			transition: 0.3s linear;
			-webkit-transition: 0.3s linear;
			-moz-transition: 0.3s linear;
			opacity: 0;
			background: #252525;
		}
		.background-image-holder:not([class*='col-']) {
			width: 100%;
		}
		.background-image-holder.background--bottom {
			background-position: 50% 100% !important;
		}
		.background-image-holder.background--top {
			background-position: 50% 0% !important;
		}
		.image--light .background-image-holder {
			background: none;
		}
		.background-image-holder img {
			display: none;
		}
	</style>
{% endblock %}
{% block content %}

	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-6"></div>
	</div>
	<!-- Layout 1 -->
    {#<h6 class="content-group text-semibold">#}
    {#Layout #1#}
    {#<small class="display-block">Panel with transparent footer</small>#}
    {#</h6>#}

	<div class="row" data-plugin="masonry">

        {% for _ in posts %}
            {% set display_name = _.author | display_name | truncate(12, true) %}

			<div class="col-md-6 col-xs-12 masonry-item">
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h5 class="panel-title text-semibold">
							<a href="/article/<$ _.id $>"><$ _.title | truncate(18, true) $></a>

						</h5>
					</div>
					<div class="panel-body">
						<div class="content-group">
							<$ _.excerpt |safe $>
						</div>

						<div class="thumb content-group">
                            {#<img src="/static/assets/images/demo/blog/1.jpg" alt="" class="img-responsive">#}
							<div class="caption-overflow">
										<span>
											<a href="blog_single.html"
											   class="btn btn-flat border-white text-white btn-rounded btn-icon legitRipple"><i
														class="icon-arrow-right8"></i></a>
										</span>
							</div>
						</div>

					</div>

					<div class="panel-footer panel-footer-condensed">
						<div class="heading-elements not-collapsible">
							<ul class="list-inline list-inline-separate heading-text text-muted">
								<li><i class="text-teal">@</i> <a href="#"
																  class="text-muted"><$ display_name $>
									</a></li>
								<li>
									<time datetime="<$ _.update_time $>">
										<$ _.modified | moment $></time>
								</li>

                                {#<li><a href="#" class="text-muted"><i#}
                                {#class="icon-heart6 text-size-base text-pink position-left"></i>#}
                                {#281</a></li>#}
							</ul>
                            {#
                            <ul class="list-inline list-inline-condensed heading-text pull-right">
                                <li><a href="/read/<$ _.id $>" class="text-default" ><i class="icon-eye8"></i></a></li>
                                <li class="dropdown">
                                    <a href="#" class="text-default dropdown-toggle"
                                       data-toggle="dropdown"
                                       aria-expanded="false"><i class="icon-menu7"></i> <span
                                                class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right ">
                                        <li><a href="#"><i class="icon-file-download"></i> 内容下载</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-link2"></i> 原文</a></li>

                                        <li><a href="#"><i class="icon-file-plus"></i> 修改</a></li>
                                        <li><a href="#"><i class="icon-cross2 text-danger"></i> 删除</a></li>
                                    </ul>
                                </li>
                            </ul>
                            #}
						</div>
					</div>
				</div>


			</div>

        {% endfor %}
	</div>

	<!-- Pagination -->

	<div class="text-center content-group-lg pt-20">
		<$ pagerData | safe $>

	</div>

	<!-- /pagination -->
{% endblock %}