<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><$ options.title $> - <$ setup.WEB_SITE_DESCRIPTION $></title>
    <link href="/static/layui/css/layui.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/icons/ionicons/css/ionicons.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="/static/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    {% block style %}{% endblock %}

</head>

<body data-target="" class="{% block bodyStyle %}{% endblock %} navbar-top">
{#<body class="navbar-top">#}
<!-- Main navbar -->
<div class="navbar navbar-default header-highlight navbar-fixed-top">
        <div class="navbar-header navbar-inverse bg-slate-800">
        {#<a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>#}
        <ul class="nav navbar-nav navbar-left">
            <li class="{% if http.url == '/topic' %}active{% endif %}"><a href="/topic" class=""><i class="icon-files-empty position-left"></i>内容号</a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                    <i class="icon-puzzle2 position-left"></i>
                    应用 <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-left dropdown-content">
                    <div class="dropdown-content-heading">
                        应用列表
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-plus22"></i></a></li>
                        </ul>
                    </div>
                    <ul class="media-list dropdown-content-body width-300">

                    {% for app in apps %}
                        <li class="media">
                            {#
                            <div class="media-left">
                                <a href="/application/<$ app.name $>/index" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                            </div>
                             #}

                            <div class="media-body">
                                <a href="/application/<$ app.name $>/index" class="media-heading text-semibold"><$ app.title $></a>
                                <span class="display-block text-muted text-size-small"><$ app.description $></span>
                            </div>
                            <div class="media-right media-middle"><span class="status-mark border-success"></span></div>

                        </li>

                    {% endfor %}
                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="全部应用"><i class="icon-menu display-block"></i></a>
                    </div>
                </ul>
            </li>

        </ul>
        {#<ul class="nav navbar-nav">#}
            {#<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>#}
            {#<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>#}
        {#</ul>#}
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            {#<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>#}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-git-compare"></i>
                    <span class="visible-xs-inline-block position-right">Git updates</span>
                    <span class="badge bg-warning-400">9</span>
                </a>

                <div class="dropdown-menu dropdown-content">
                    <div class="dropdown-content-heading">
                        Git updates
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-sync"></i></a></li>
                        </ul>
                    </div>

                    <ul class="media-list dropdown-content-body width-350">
                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                            </div>

                            <div class="media-body">
                                Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                <div class="media-annotation">4 minutes ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
                            </div>

                            <div class="media-body">
                                Add full font overrides for popovers and tooltips
                                <div class="media-annotation">36 minutes ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
                            </div>

                            <div class="media-body">
                                <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
                                <div class="media-annotation">2 hours ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
                            </div>

                            <div class="media-body">
                                <a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
                                <div class="media-annotation">Dec 18, 18:36</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                            </div>

                            <div class="media-body">
                                Have Carousel ignore keyboard events
                                <div class="media-annotation">Dec 12, 05:46</div>
                            </div>
                        </li>
                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>
        </ul>

        {#
        <p class="navbar-text">
            <span class="label bg-success">成员</span>
        </p>
        #}
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-people"></i>
                        <span class="visible-xs-inline-block position-right">Users</span>
                    </a>

                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-heading">
                            在线成员
                            <ul class="icons-list">
                                <li class="{% if http.url == '/member' %}active{% endif %}"><a href="/member"><i class="icon-gear"></i></a></li>
                                {#<li><a href="#"><i class="icon-gear"></i></a></li>#}
                            </ul>
                        </div>

                        <ul class="media-list dropdown-content-body width-300">
                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Jordana Ansley</a>
                                    <span class="display-block text-muted text-size-small">Lead web developer</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-success"></span></div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Will Brason</a>
                                    <span class="display-block text-muted text-size-small">Marketing manager</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-danger"></span></div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Hanna Walden</a>
                                    <span class="display-block text-muted text-size-small">Project manager</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-success"></span></div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Dori Laperriere</a>
                                    <span class="display-block text-muted text-size-small">Business developer</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-warning-300"></span></div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Vanessa Aurelius</a>
                                    <span class="display-block text-muted text-size-small">UX expert</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-grey-400"></span></div>
                            </li>
                        </ul>

                        <div class="dropdown-content-footer">

                            <a href="/member" data-popup="tooltip" title="所有成员"><i class="icon-menu display-block"></i></a>
                        </div>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-bubbles4"></i>
                        <span class="visible-xs-inline-block position-right">消息</span>
                        <span class="badge bg-warning-400">2</span>
                    </a>

                    <div class="dropdown-menu dropdown-content width-350">
                        <div class="dropdown-content-heading">
                            消息
                            <ul class="icons-list">
                                <li><a href="#"><i class="icon-compose"></i></a></li>
                            </ul>
                        </div>

                        <ul class="media-list dropdown-content-body">
                            <li class="media">
                                <div class="media-left">
                                    <img src="/static/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                    <span class="badge bg-danger-400 media-badge">5</span>
                                </div>

                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">James Alexander</span>
                                        <span class="media-annotation pull-right">04:58</span>
                                    </a>

                                    <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                    <span class="badge bg-danger-400 media-badge">4</span>
                                </div>

                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Margo Baker</span>
                                        <span class="media-annotation pull-right">12:16</span>
                                    </a>

                                    <span class="text-muted">That was something he was unable to do because...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Jeremy Victorino</span>
                                        <span class="media-annotation pull-right">22:48</span>
                                    </a>

                                    <span class="text-muted">But that would be extremely strained and suspicious...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Beatrix Diaz</span>
                                        <span class="media-annotation pull-right">Tue</span>
                                    </a>

                                    <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Richard Vango</span>
                                        <span class="media-annotation pull-right">Mon</span>
                                    </a>

                                    <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                </div>
                            </li>
                        </ul>

                        <div class="dropdown-content-footer">
                            <a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
                        </div>
                    </div>
                </li>
                <li><a href="/user"><i class="icon-mention"></i><span><$ user_info.username $></span></a></li>
                {#
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/static/assets/images/placeholder.jpg" alt="">
                        <span>@ <$ userInfo.username $></span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="/user"><i class="icon-user-plus"></i> 我的信息</a></li>
                        <li><a href="#"><i class="icon-coins"></i> 我的账户</a></li>
                        <li><a href="#"><span class="badge bg-blue pull-right">58</span> <i class="icon-comment-discussion"></i> 消息</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-cog5"></i> 账户配置</a></li>
                        <li><a href="/logout"><i class="icon-switch2"></i>  登出</a></li>
                    </ul>
                </li>
                #}
            </ul>
        </div>
    </div>
</div>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content" id="page-content">
        <!-- Main sidebar -->
        {% block sidebar_main %}
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main sidebar-default sidebar-fixed">
                <div class="sidebar-content">
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                {#<a href="#" class="media-left"><img src="/static/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>#}
                                <div class="media-body">
                                    <span class="media-heading text-semibold"><$ team.title $></span>
                                    <div class="text-size-mini text-muted">
                                        <i class="icon-lifebuoy text-size-small"></i> &nbsp;~ <$ team.name $>
                                    </div>
                                </div>

                                <div class="media-right media-middle">
                                    <ul class="icons-list">
                                        <li>
                                            <a href="#"><i class="icon-menu7"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Main navigation -->
                    <div class="sidebar-category">
                        {#<div class="category-title">#}
                            {#<span class="text-muted">导航</span>#}
                        {#</div>#}

                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion  navigation-icons-left">

                                <!-- Main -->
                                {#<li class="navigation-header">Main</li>#}
                                <li class="{% if http.url == '/topic' %}active{% endif %}"><a href="/topic"><i class="icon-stack"></i>全部</a></li>
                                <li class="{% if http.url == '/topic/manage' %}active{% endif %}"><a
                                            href="/topic/manage"><i class=" icon-spotlight2"></i>发现</a></li>
                                {#<li><a href="main_starter_kit.html">应用</a></li>#}
                                {#<li class="{% if http.url == '/member' %}active{% endif %}"><a href="/member">成员</a></li>#}
                                <li class="{% if http.url == '/search' %} active {% endif %}"><a href="/search"><i class="icon-search4"></i>搜索</a></li>
                                <li><a><i class="icon-stars"></i>我喜欢的</a></li>
                                <!-- Main -->
                                {#<li class="navigation-header"><span>内容</span> <i class="icon-menu" title="Main pages"></i></li>#}
                                {#
                                <li class="topic">
                                    <a href="#">
                                        <span>内容辑</span>
                                        <span class="label btn btn-xs pull-right label-transparent nav-button" data-url="/topic/manage">管理</span>
                                    </a>
                                    <ul>
                                        {% for _ in topic %}
                                            <li class="{% if http.url == _.url %}active{% endif %}"><a href="<$ _.url $>"># <$ _.name $></a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <!-- /main -->
                                #}
                            </ul>

                        </div>

                    </div>
                    <!-- /main navigation -->
                    <div class="sidebar-category">

                        <div class="panel-group panel-group-control content-group-lg ">
                            <div class="panel panel-white ">
                                <div class="panel-heading ">
                                    <h6 class="panel-title ">
                                        <a data-toggle="collapse" href="#collapsible-control-group1" class="">内容辑</a>
                                    </h6>
                                    <div class="heading-elements">
                                        <ul class="icons-list">
                                            <li><a data-action="reload"></a></li>
                                            <li><a data-action="move"></a></li>
                                            <li><a href="/topic/manage"><i class="icon-cog5"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="collapsible-control-group1" class="panel-collapse collapse in">
                                        <div class="list-group no-border">
                                            <div class="list-group-header">内部内容辑</div>
                                            {% for _ in topic %}

                                            <a href="<$ _.url $>" class="list-group-item "># <$ _.name $></a>
                                            {% endfor %}
                                            <a href="#" class="list-group-item disabled">Amid ruefully hello sped</a>
                                            <div class="list-group-divider"></div>
                                            <div class="list-group-header">关联内容辑</div>
                                            <a href="#" class="list-group-item">Burst circa less contritely</a>
                                        </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /main sidebar -->

        {% endblock %}
        <!-- /main sidebar -->

        <!-- Secondary sidebar -->
        {% block sidebar_secondary %}{% endblock %}
        <!-- /secondary sidebar -->


        <!-- Main content -->
        <div class="content-wrapper ">
            {% block page_header %}{% endblock %}

            {% block fab_menu %}{% endblock %}

            <!-- Content area -->
            <div class="content">
                <!-- Detached content -->
                {#<div class="container-detached ">#}

                    {#<div class="content-detached">#}

                        <!-- Page header -->
                        <!-- /page header -->
                        {% block content %}{% endblock %}
                    {#</div>#}
                {#</div>#}


                <!-- Detached sidebar -->
                {% block detached_sidebar_right %}{% endblock %}
                <!-- /detached sidebar -->

                <!-- Footer -->
                {% block footer %}
                    <div class="footer text-muted">
                        &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a
                                href="http://themeforest.net/user/Kopyov"
                                target="_blank">Eugene Kopyov</a>
                    </div>
                {% endblock %}
                <!-- /footer -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

        <!-- Opposite sidebar -->
        {% block opposite_sidebar %}{% endblock %}
        <!-- /opposite sidebar -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<script type="text/javascript" src="/static/assets/js/fetch.js"></script>
<script type="text/javascript" src="/static/assets/js/native.history.js"></script>

<script type="text/javascript" src="/static/layui/layui.js"></script>

<script>
    (function(window,undefined){

        // Check Location
        if ( document.location.protocol === 'file:' ) {
            alert('The HTML5 History API (and thus History.js) do not work on files, please upload it to a server.');
        }

        // Establish Variables
        var State = History.getState();

        // Log Initial State
        History.log('initial:', State.data, State.title, State.url);

        // Bind to State Change
        History.Adapter.bind(window,'statechange',function(){ // Note: We are using statechange instead of popstate
            // Log the State
            var State = History.getState(); // Note: We are using History.getState() instead of event.state
            History.log('statechange:', State.data, State.title, State.url);
        });


    })(window);
</script>


<script type="text/javascript" src="/static/assets/js/plugins/loaders/pace.min.js"></script>
<script type="text/javascript" src="/static/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/loaders/blockui.min.js"></script>
<!-- /core JS files -->
<!-- Core JS files -->
<script src="/static/assets/js/vue/vue.js"></script>
<script>
    Vue.config.debug = true;
    Vue.config.devtools = true;

</script>

<!-- Plugin JS files -->
<script type="text/javascript" src="/static/assets/js/plugins/noty/packaged/jquery.noty.packaged.min.js"></script>
<script>

    function notify(message, type){
        $.noty.defaults.theme = 'relax';
        var _type = 'information';

        if (type != null){
           _type = type;
        }
        noty({
            text        : message,
            type        : _type,
            dismissQueue: true,
            layout      : 'topCenter',
            theme       : 'relax',
            closeWith   : ['click'],
            timeout     : 10000,
//            progressBar : true
        });

    }

</script>
<script type="text/javascript" src="/static/assets/js/masonry/masonry.pkgd.min.js"></script>

{#<script type="text/javascript" src="/static/assets/js/plugins/notifications/pnotify.min.js"></script>#}

<script type="text/javascript" src="/static/assets/js/plugins/forms/selects/select2.min.js"></script>

<script type="text/javascript" src="/static/assets/js/plugins/forms/validation/validate.min.js"></script>
<script type="text/javascript"
        src="/static/assets/js/plugins/forms/validation/localization/messages_zh.js"></script>
<!-- /plugin js files -->

<!-- Theme JS files -->
<script type="text/javascript" src="/static/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/forms/styling/switchery.min.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/forms/styling/switch.min.js"></script>

{% block theme_script %}

{% endblock %}
<script type="text/javascript" src="/static/assets/js/core/app.min.js"></script>
{#<script type="text/javascript" src="/static/assets/js/pages/form_checkboxes_radios.js"></script>#}
{#<script type="text/javascript" src="/static/assets/js/pages/extra_fab.js"></script>#}
{#<script type="text/javascript" src="/static/assets/js/pages/sidebar_detached_sticky_native.js"></script>#}

{#<script type="text/javascript" src="/static/assets/js/plugins/ui/ripple.min.js"></script>#}
<!-- /theme JS files -->

{% block script %}

{% endblock %}
</body>
</html>
