{% extends "./_layout.html" %}

{% block style %}
    <style>

        li .controls .edit, li .controls .del {
            display: none
        }

        li .controls .del {
            cursor: pointer
        }

        li:hover .controls .edit, li:hover .controls .del, li:hover .controls .reorder {
            display: inline-block
        }

        li .controls .reorder {
            display: none;

            cursor: move
        }

        li .controls {

            position: absolute;
            right: 0;
            top: 4px
        }

        li .controls i {
            margin: 0 0 0 5px
        }

        li .controls i {
            display: inline-block
        }

        .input-box {
            /*background: #fff;*/
            /*box-shadow: 0 1px 2px rgba(0,0,0,0.16);*/
            /*margin-bottom: 8px;*/
            position: relative;
            overflow: hidden;
        }

        .sortable-item .controls {
            display: none;
            position: absolute;

            top: 6px;
            right: 16px;
            box-shadow: 0 0 4px 4px #fff;
            background: #fff
        }

        .sortable-item.one-line .controls, #list ul#listing.contact-links li .controls {
            top: 16px
        }

        .sortable-item.skill-item .controls {
            top: 16px
        }

        .sortable-item .controls i {
            cursor: pointer
        }

        .sortable-item .controls i.reorder {
            cursor: move;
            margin: 0 0 0 16px
        }

        .sortable-item .controls i.del {
            margin: 0 0 0 16px
        }

        .sortable-item:hover .controls {
            display: block;
            /*display: inline-block*/

        }

    </style>

    <style>


        @-webkit-keyframes pulse-light {
            50% {
                background-color: #e9eff3;
            }
        }

        @keyframes pulse-light {
            50% {
                background-color: #e9eff3;
            }
        }

        /*.button {*/
        /*border-radius: 28px;*/
        /*margin: 10% auto 0 auto;*/
        /*display: block;*/
        /*position: relative;*/
        /*background: #fff;*/
        /*width: 150px;*/
        /*box-shadow: 0 2px 6px rgba(170, 185, 200, 0.4);*/
        /*}*/
        /*.button svg {*/
        /*display: none;*/
        /*position: absolute;*/
        /*left: 50%;*/
        /*top: 50%;*/
        /*margin: -15px 0 0 -15px;*/
        /*fill: #fff;*/
        /*}*/
        .button div {
            /*height: 4px;*/
            /*margin: -2px 0 0 0;*/
            /*position: absolute;*/
            /*top: 50%;*/
            /*left: 71px;*/
            /*right: 25px;*/
            /*background: #d3d7e0;*/
            /*display: none;*/
            /*border-radius: 2px;*/
        }

        /*.button div span {*/
        /*position: absolute;*/
        /*background: #28e470;*/
        /*height: 4px;*/
        /*left: 0;*/
        /*top: 0;*/
        /*width: 0;*/
        /*display: block;*/
        /*border-radius: 2px;*/
        /*}*/
        /*.button a {*/
        /*position: relative;*/
        /*display: block;*/
        /*background: #3f82d7;*/
        /*z-index: 2;*/
        /*line-height: 56px;*/
        /*height: 56px;*/
        /*border-radius: 28px;*/
        /*width: 100%;*/
        /*text-align: center;*/
        /*color: #fff;*/
        /*box-shadow: 0 2px 6px rgba(170, 185, 200, 0.4);*/
        /*}*/
        /*.button a span {*/
        /*cursor: pointer;*/
        /*display: block;*/
        /*}*/

        .upload input {
            visibility: hidden;
            position: absolute;
        }

        .upload .button {
            /*border-radius: 28px;*/
            border-radius: 4px;
            /*display: block;*/
            position: relative;
            background: #2e3038;
            /*background: #f5f5f5;*/
            padding: 0;
            height: 36px;
            /*width: 105px;*/
            box-shadow: 0 2px 6px rgba(170, 185, 200, 0.4);

            /**/
            /**/
            /*border-radius: 28px;*/
            /*margin: 10% auto 0 auto;*/
            /*display: block;*/
            /*position: relative;*/
            /*background: #fff;*/
            /*width: 105px;*/
            /*box-shadow: 0 2px 6px rgba(170, 185, 200, 0.4);*/
        }

        /*.upload .button   svg {*/
        /*display: none;*/
        /*position: absolute;*/
        /*left: 50%;*/
        /*top: 50%;*/
        /*margin: -15px 0 0 -15px;*/
        /*fill: #fff;*/
        /*}*/
        .upload .button a {
            /*position: relative;*/
            /*display: block;*/
            /*background: #3f82d7;*/
            /*z-index: 2;*/
            /*line-height: 36px;*/
            /*height: 36px;*/
            /*width: 100%;*/
            /*text-align: center;*/
            /*color: #fff;*/
            /*-webkit-border-radius: 4px;*/
            /*-moz-border-radius: 4px;*/
            /*border-radius: 4px;*/
        }

        .upload .button a {
            position: relative;
            /*display: block;*/
            /*background: #3f82d7;*/
            z-index: 2;
            /*line-height: 36px;*/
            height: 36px;
        }

        .upload .button a span {
            cursor: pointer;
            display: block;
        }

        .upload .button a:hover {
            /*background: #377dd5;*/
        }

        .upload .button svg {
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -12px 0 0 -12px;
            width: 24px;
            height: 24px;
            fill: #009988;
        }

        .upload .button div {
            height: 4px;
            margin: -2px 0 0 0;
            position: absolute;
            top: 50%;
            left: 51px;
            right: 15px;
            background: #666978;
            display: none;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
        }

        .upload .button div span {
            position: absolute;
            background: #41da54;
            height: 4px;
            left: 0;
            top: 0;
            width: 0;
            display: block;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
        }


    </style>


    <style>

        #resume-preview {
            min-height: 576px;
            width: 1024px;
            position: relative;
            display: inline-block;
            background: #fff;
            max-width: 1024px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
            overflow: hidden;
            margin-bottom: 24px
        }

        #resume-preview iframe {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1
        }

        #resume-preview .share-bar {
            opacity: 0;
            position: absolute;
            bottom: 24px;
            left: 50%;
            margin-left: -168px;
            width: 336px;
            height: 48px;
            background: rgba(24, 97, 242, 0.9);
            z-index: 2;
            box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.16), 0px 6px 8px 0px rgba(0, 0, 0, 0.16);
            -webkit-transition: all 0.4s cubic-bezier(0.32, 0, 0.16, 1);
            -moz-transition: all 0.4s cubic-bezier(0.32, 0, 0.16, 1);
            -ms-transition: all 0.4s cubic-bezier(0.32, 0, 0.16, 1);
            -o-transition: all 0.4s cubic-bezier(0.32, 0, 0.16, 1);
            transition: all 0.4s cubic-bezier(0.32, 0, 0.16, 1);
            display: none
        }

        #resume-preview:hover .share-bar {
            opacity: 1
        }

        #resume-preview .share-bar .bar-item {
            float: left;
            width: 112px;
            height: 100%;
            cursor: pointer;
            color: #fff;
            font-size: 14px;
            line-height: 50px;
            text-align: center;
            font-weight: 500
        }

        #resume-preview .share-bar .bar-item:hover {
            background: rgba(0, 0, 0, 0.16)
        }

        @media screen and (max-width: 1504px) {
            #resume-preview {
                width: 100%
            }
        }

        /*iframe {*/
        /*position: fixed;*/
        /*top: 10vh;*/
        /*width: 100vw;*/
        /*height: 90vh;*/
        /*}*/
        .frame-wrapper {
            position: relative;
            font-size: 0;
        }

        .frame-wrapper .frame-border {
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /*box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.13);*/
            pointer-events: none;
        }

        .frame-viewer {
            width: 100%;
            height: 400px;
            padding: 0;
            overflow: hidden;
        }

        .frame-viewer img.preview {
            width: 100%;
        }

        .frame-viewer iframe {

            width: 1024px;
            height: 900px;
            position: fixed;
            /*top: 10vh;*/
            /*width: 100vw;*/
            /*height: 100vh;*/

            /*width: 100%;*/
            /*height: 100%;*/
            /*position: relative;*/
            z-index: 1;
            border: 0;
            overflow: hidden;
            -webkit-transform: scale(0.685);
            transform: scale(0.825);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            background-color: white;
            border: none;
        }

        .col-md-7 .frame-viewer iframe {
            -webkit-transform: scale(0.53);
            transform: scale(0.53);
        }

        .col-md-6 .frame-viewer iframe {
            width: 1266px;
            height: 888px;
            -webkit-transform: scale(0.45);
            transform: scale(0.45);
        }

        .col-md-9 .frame-viewer iframe {
            width: 1266px;
            height: 888px;
            -webkit-transform: scale(0.45);
            transform: scale(0.45);
        }

        img.screenshot {
            width: 100%;
            box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 0 rgba(255, 255, 255, 0.2);
        }

        a.site-link {
            display: block;
            padding: 14px 10px;
            text-align: center;
            /*border: 1px solid rgba(43, 50, 57, 0.15);*/
            border-top: none;
            background-color: #FDFDFD;
            /*border-radius: 0 0 3px 3px;*/
            text-decoration: none;
        }

        a.site-link i {
            margin-right: 10px;
            position: relative;
            top: 2px;
        }

        a.site-link:hover {
            color: #24588a;
        }

        a.site-link:hover i.icon {
            -webkit-filter: brightness(70%);
            filter: brightness(70%);
        }

        .col-padding {
            position: relative;
            min-height: 1px;
            padding-left: 14px;
            padding-right: 14px;
        }
    </style>

{% endblock %}

{% block navbar %}
    <form class="navbar-form navbar-left" v-if="form == 'basics'">
        <div class="form-group">
            <input type="text" class="form-control text-semibold" placeholder="简历名称"
                   v-model="title">
        </div>
        <div class="form-group">
        {#    <multiselect v-model="type" track-by="title" label="title" :options="options" :searchable="false" :close-on-select="true"
                         :show-labels="false" placeholder="简历类型"></multiselect>#}
        </div>
    </form>
    <ul class="nav navbar-nav" v-if="sectionMenu == true">
        <li :class="form == 'works' ? 'active': '' "><a href="#" @click="form = 'works'">工作经历</a></li>
        <li :class="form == 'education'? 'active': '' "><a @click="form = 'education'"> 教育背景</a></li>
        {#<li><a href="#"> 获得奖项</a></li>#}
        <li :class="form == 'project' ? 'active' : '' "><a @click="form = 'project'"> 项目经验</a></li>
        <li :class="form == 'skills' ? 'active' : '' "><a @click="form = 'skills'"> 擅长技能</a></li>
        {#<li><a href="#"> 个人技能</a></li>#}
    </ul>
{% endblock %}
{#{% block page_navbar %}
    <div class="navbar navbar-default navbar-default-secondary navbar-xs" data-animation="slideInDown" v-if="sectionMenu == true">
        <ul class="nav navbar-nav no-border visible-xs-block">
            <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second"><i
                            class="icon-circle-down2"></i></a></li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-second">
            <ul class="nav navbar-nav">
                <li :class="form == 'works' ? 'active': '' "><a href="#" @click="form = 'works'">工作经历</a></li>
                <li :class="form == 'education'? 'active': '' "><a @click="form = 'education'"> 教育背景</a></li>
                #}{#<li><a href="#"> 获得奖项</a></li>#}{#
                <li :class="form == 'project' ? 'active' : '' "><a @click="form = 'project'"> 项目经验</a></li>
                <li :class="form == 'skills' ? 'active' : '' "><a @click="form = 'skills'"> 擅长技能</a></li>
                #}{#<li><a href="#"> 个人技能</a></li>#}{#
            </ul>

        </div>
    </div>
{% endblock %}#}

{% block sidebar_main %}
    <div class="sidebar sidebar-main sidebar-default sidebar-fixed">
        <div class="sidebar-content">
            <div class="category-title bg-grey-50">
                <span><a href="/admin"><i class="icon-arrow-left8 position-left"></i>返回</a></span>
                <div class="heading-elements">

                    <span class="heading-text text-size-small">
                        <p v-if="status == 'saving'" class="text-teal">
                            <i class="icon-spinner2 spinner position-left"></i>
                            正在保存
                        </p>
                        <p v-if="status == 'success'" class="text-muted">
                            <i class="icon-check2"></i> 保存成功
                        </p>
                        <p v-else-if="status == 'editing'"><a>保存</a></p>
                        <p v-else-if="status == 'init'" class="text-muted">内容将实时更新</p>
                    </span>

                </div>
            </div>

            <!-- Categories -->
            <div class="sidebar-category">

                {#<div class="category-title text-muted">#}
                {#<span>菜单管理</span>#}
                {#<ul class="icons-list">#}
                {#<li><a href="#" data-action="collapse"></a></li>#}
                {#<li><a href="#"><i class="icon-plus22 text-teal"></i></a></li>#}
                {#</ul>#}
                {#</div>#}

                <div class="category-content no-padding">
                    {#<ul class="navigation navigation-main navigation-accordion navigation-bordered">#}
                    <ul class="navigation navigation-main navigation-accordion">

                        {#<li><a class="list-group-item">工作机会</a></li>#}
                        {#<li><a class="list-group-item">基本信息</a></li>#}
                        {#<li><a class="list-group-item">简历模块</a></li>#}
                        <li :class="form == 'basics' ? 'active' : '' "><a href="#" class="legitRipple"
                                                                          @click="basics()">基本信息</a></li>
                        <li :class="sectionMenu ? 'active' : ''"><a href="#" class="legitRipple" @click="showSection()">简历模块
                                <span class=" icon-arrow-right22"></span></a></li>
                        {#<li><a class="list-group-item">模块管理</a></li>#}
                        {#<li><a class="list-group-item">简历设置</a></li>#}
                        {#<li><a class="list-group-item">我的简历</a></li>#}
                        {#<li><a class="list-group-item">简历分享/投递</a></li>#}
                        {#<li><a class="list-group-item">模板管理</a></li>#}


                    </ul>
                </div>
            </div>
            <!-- /categories -->


        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        {#<div class="row" :class="sectionMenu == true ? 'mt-20' : ''">#}
        <basics-form :resume="resume" :isImage="isImage" v-if="form == 'basics'"></basics-form>

        <works-form :resume="resume" v-on:cancel="cancel" v-if="form == 'works'"></works-form>

        <education-form :resume="resume" v-on:cancel="cancel" v-if="form == 'education'"></education-form>

        <project-form :resume="resume" v-on:cancel="cancel" v-if="form == 'project'"></project-form>
        <skills-form :resume="resume" v-on:cancel="cancel" v-if="form == 'skills'"></skills-form>

        <div class="col-md-8 col-lg-9">
            <basics :resume="resume" v-if="form == 'basics'"></basics>

            <works :resume="resume" v-if="form == 'works' || form == 'basics'"></works>

            <education :resume="resume" v-if="form == 'education' || form == 'basics'"></education>

            <project :resume="resume" v-if="form == 'project' || form == 'basics'"></project>

            <skills :resume="resume" v-if="form == 'skills' || form == 'basics'"></skills>


            {#
            {% if resume %}
                {% include "./_resume_preview.html" %}
            {% endif %}
            #}

            {#<div class="panel">#}
            {#<div class="frame-viewer">#}
            {#<div class="frame-border"></div>#}
            {#<div id="preview">#}
            {#<iframe src="http://registry.jsonresume.org/mudassirali" height="100%" width="100%" name="previewframe"#}
            {#id="previewframe"></iframe>#}
            {#</div>#}
            {#<div class="frame-viewer" id="preview">#}
            {#<iframe src="/admin/resumes/privew" height="100%" width="100%" name="previewframe" id="previewframe"></iframe>#}
            {#<iframe :src="iframe.src" ref="frame" @load="load" v-show="iframe.loaded" id="previewframe"></iframe>#}
            {#</div>#}

            {#</div>#}
            {#</div>#}
        </div>
    </div>
{% endblock %}

<!-- /main content -->

{% block script %}

    {#<script src="/static/assets/js/plugins/forms/form.js"></script>#}

    <script>


        var _RESUME_DATA = <$ resume | dump | safe $>;


    </script>

    <script>
        var ID = <$ _id $>;
        var TITLE = '<$ _title $>';
    </script>
    <script type="text/javascript" src="/static/components/resumes/main.js"></script>

{% endblock %}