<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ setup.WEB_SITE_TITLE }} - {{ setup.WEB_SITE_DESCRIPTION }}</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="/static/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    {% block style %}{% endblock %}

</head>

<body data-target="" class="{% block bodyStyle %}{% endblock %} navbar-top">
{#<body class="navbar-top">#}
<!-- Main navbar -->
<div class="navbar navbar-default header-highlight navbar-fixed-top">
    <div class="navbar-header navbar-inverse bg-teal-400">
        {#<a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>#}
        <ul class="nav navbar-nav navbar-left">
            <li class="{% if http.url == '/topic' %}active{% endif %}"><a href="/topic" class=""><i
                            class="icon-files-empty position-left"></i>内容号</a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                    <i class="icon-puzzle2 position-left"></i>
                    内容应用 <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-left dropdown-content">
                    <div class="dropdown-content-heading">
                        应用列表
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-plus22"></i></a></li>
                        </ul>
                    </div>
                    <ul class="media-list dropdown-content-body width-300">

                        {% for app in apps %}
                            <li class="media">
                                {#
                                <div class="media-left">
                                    <a href="/application/{{ app.name }}/index" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                </div>
                                 #}

                                <div class="media-body">
                                    <a href="/application/{{ app.name }}/index"
                                       class="media-heading text-semibold">{{ app.title }}</a>
                                    <span class="display-block text-muted text-size-small">{{ app.description }}</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-success"></span>
                                </div>

                            </li>

                        {% endfor %}
                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="全部应用"><i class="icon-menu display-block"></i></a>
                    </div>
                </ul>
            </li>

        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        {#<ul class="nav navbar-nav">#}
            <span class="navbar-text text-semibold"><i class="icon-user-tie position-left"></i>个人账号中心</span>
        {#</ul>#}

        {#
        <p class="navbar-text">
            <span class="label bg-success">成员</span>
        </p>
        #}
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-people"></i>
                        <span class="visible-xs-inline-block position-right">Users</span>
                    </a>

                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-heading">
                            在线成员
                            <ul class="icons-list">
                                <li class="{% if http.url == '/member' %}active{% endif %}"><a href="/member"><i
                                                class="icon-gear"></i></a></li>
                                {#<li><a href="#"><i class="icon-gear"></i></a></li>#}
                            </ul>
                        </div>

                        <ul class="media-list dropdown-content-body width-300">
                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg"
                                                             class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Jordana Ansley</a>
                                    <span class="display-block text-muted text-size-small">Lead web developer</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-success"></span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg"
                                                             class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Will Brason</a>
                                    <span class="display-block text-muted text-size-small">Marketing manager</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-danger"></span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg"
                                                             class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Hanna Walden</a>
                                    <span class="display-block text-muted text-size-small">Project manager</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-success"></span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg"
                                                             class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Dori Laperriere</a>
                                    <span class="display-block text-muted text-size-small">Business developer</span>
                                </div>
                                <div class="media-right media-middle"><span
                                            class="status-mark border-warning-300"></span></div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg"
                                                             class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Vanessa Aurelius</a>
                                    <span class="display-block text-muted text-size-small">UX expert</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-grey-400"></span>
                                </div>
                            </li>
                        </ul>

                        <div class="dropdown-content-footer">

                            <a href="/member" data-popup="tooltip" title="所有成员"><i class="icon-menu display-block"></i></a>
                        </div>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-bubbles4"></i>
                        <span class="visible-xs-inline-block position-right">消息</span>
                        <span class="badge bg-warning-400">2</span>
                    </a>

                    <div class="dropdown-menu dropdown-content width-350">
                        <div class="dropdown-content-heading">
                            消息
                            <ul class="icons-list">
                                <li><a href="#"><i class="icon-compose"></i></a></li>
                            </ul>
                        </div>

                        <ul class="media-list dropdown-content-body">
                            <li class="media">
                                <div class="media-left">
                                    <img src="/static/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                    <span class="badge bg-danger-400 media-badge">5</span>
                                </div>

                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">James Alexander</span>
                                        <span class="media-annotation pull-right">04:58</span>
                                    </a>

                                    <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                    <span class="badge bg-danger-400 media-badge">4</span>
                                </div>

                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Margo Baker</span>
                                        <span class="media-annotation pull-right">12:16</span>
                                    </a>

                                    <span class="text-muted">That was something he was unable to do because...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg"
                                                             class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Jeremy Victorino</span>
                                        <span class="media-annotation pull-right">22:48</span>
                                    </a>

                                    <span class="text-muted">But that would be extremely strained and suspicious...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg"
                                                             class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Beatrix Diaz</span>
                                        <span class="media-annotation pull-right">Tue</span>
                                    </a>

                                    <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg"
                                                             class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Richard Vango</span>
                                        <span class="media-annotation pull-right">Mon</span>
                                    </a>

                                    <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                </div>
                            </li>
                        </ul>

                        <div class="dropdown-content-footer">
                            <a href="#" data-popup="tooltip" title="All messages"><i
                                        class="icon-menu display-block"></i></a>
                        </div>
                    </div>
                </li>
                <li><a href="/account"><i class="icon-mention"></i><span>{{ user_info.username }}</span></a></li>
                {#
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/static/assets/images/placeholder.jpg" alt="">
                        <span>@ {{ userInfo.username }}</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="/user"><i class="icon-user-plus"></i> 我的信息</a></li>
                        <li><a href="#"><i class="icon-coins"></i> 我的账户</a></li>
                        <li><a href="#"><span class="badge bg-blue pull-right">58</span> <i class="icon-comment-discussion"></i> 消息</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-cog5"></i> 账户配置</a></li>
                        <li><a href="/logout"><i class="icon-switch2"></i>  登出</a></li>
                    </ul>
                </li>
                #}
            </ul>
        </div>
    </div>
</div>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        {% block sidebar_main %}
        {% endblock %}
        <!-- /main sidebar -->

        <!-- Secondary sidebar -->
        {% block sidebar_secondary %}{% endblock %}
        <!-- /secondary sidebar -->


        <!-- Main content -->
        <div class="content-wrapper ">
            {% block page_header %}{% endblock %}

            {% block fab_menu %}{% endblock %}

            <!-- Content area -->
            <div class="content">
                <!-- Detached content -->
                {#<div class="container-detached ">#}

                {#<div class="content-detached">#}

                <!-- Page header -->
                <!-- /page header -->
                {% block content %}{% endblock %}
                {#</div>#}
                {#</div>#}


                <!-- Detached sidebar -->
                {% block detached_sidebar_right %}{% endblock %}
                <!-- /detached sidebar -->

                <!-- Footer -->
                {% block footer %}
                    <div class="footer text-muted">
                        &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a
                                href="http://themeforest.net/user/Kopyov"
                                target="_blank">Eugene Kopyov</a>
                    </div>
                {% endblock %}
                <!-- /footer -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

        <!-- Opposite sidebar -->
        {% block opposite_sidebar %}{% endblock %}
        <!-- /opposite sidebar -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->
<!-- Core JS files -->

<script type="text/javascript" src="/static/assets/js/plugins/loaders/pace.min.js"></script>
<script type="text/javascript" src="/static/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/loaders/blockui.min.js"></script>
<!-- /core JS files -->

<!-- Plugin JS files -->
<script type="text/javascript" src="/static/assets/js/masonry/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="/static/assets/js/plugins/notifications/pnotify.min.js"></script>

<script type="text/javascript" src="/static/assets/js/plugins/forms/selects/select2.min.js"></script>

<script type="text/javascript" src="/static/assets/js/plugins/forms/validation/validate.min.js"></script>
<script type="text/javascript"
        src="/static/assets/js/plugins/forms/validation/localization/messages_zh.js"></script>
<!-- /plugin js files -->

<!-- Theme JS files -->
<script type="text/javascript" src="/static/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/forms/styling/switchery.min.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/forms/styling/switch.min.js"></script>

<script type="text/javascript" src="/static/assets/js/core/app.min.js"></script>
{#<script type="text/javascript" src="/static/assets/js/pages/form_checkboxes_radios.js"></script>#}
{#<script type="text/javascript" src="/static/assets/js/pages/extra_fab.js"></script>#}
<script type="text/javascript" src="/static/assets/js/pages/sidebar_detached_sticky_native.js"></script>

{#<script type="text/javascript" src="/static/assets/js/plugins/ui/ripple.min.js"></script>#}
<!-- /theme JS files -->

{% block script %}

{% endblock %}
</body>
</html>
