<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ setup.WEB_SITE_TITLE }} - {{ setup.WEB_SITE_DESCRIPTION }}</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="/static/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">

    <link href="/static/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    {% block style %}{% endblock %}

</head>

{#<body class="{% block body_style %}{% endblock %}">#}

<body class="navbar-top">
<div class="navbar navbar-default header-highlight navbar-fixed-top">
    <div class="navbar-header navbar-inverse bg-teal-400">
        {#<a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>#}
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                    <i class="icon-puzzle2 position-left"></i>
                    我的应用
                    {#<span class="caret"></span>#}
                </a>
                <ul class="dropdown-menu dropdown-menu-left dropdown-content">
                    <div class="dropdown-content-heading">
                        应用列表
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-plus22"></i></a></li>
                        </ul>
                    </div>
                    <ul class="media-list dropdown-content-body width-300">

                        {% for app in apps %}
                            <li class="media ">
                                {#
                                <div class="media-left">
                                    <a href="/application/{{ app.name }}/index" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                </div>
                                 #}

                                <div class="media-body">
                                    <a href="/application/{{ app.name }}/index" class="media-heading text-semibold">{{ app.title }}</a>
                                    <span class="display-block text-muted text-size-small">{{ app.description }}</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark {% if app.name == controller.app_name %}  bg-success{% else %} border-success-300 {% endif %}"></span></div>

                            </li>

                        {% endfor %}
                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="全部应用"><i class="icon-menu display-block"></i></a>
                    </div>
                </ul>
            </li>
            <li class="active"><a href="/topic" class=""><i class="droplets position-left"></i>发现内容</a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            {#<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>#}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-git-compare"></i>
                    <span class="visible-xs-inline-block position-right">Git updates</span>
                    <span class="badge bg-warning-400">9</span>
                </a>

                <div class="dropdown-menu dropdown-content">
                    <div class="dropdown-content-heading">
                        Git updates
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-sync"></i></a></li>
                        </ul>
                    </div>

                    <ul class="media-list dropdown-content-body width-350">
                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                            </div>

                            <div class="media-body">
                                Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                <div class="media-annotation">4 minutes ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
                            </div>

                            <div class="media-body">
                                Add full font overrides for popovers and tooltips
                                <div class="media-annotation">36 minutes ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
                            </div>

                            <div class="media-body">
                                <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
                                <div class="media-annotation">2 hours ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
                            </div>

                            <div class="media-body">
                                <a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
                                <div class="media-annotation">Dec 18, 18:36</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                            </div>

                            <div class="media-body">
                                Have Carousel ignore keyboard events
                                <div class="media-annotation">Dec 12, 05:46</div>
                            </div>
                        </li>
                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>
        </ul>

        {#
        <p class="navbar-text">
            <span class="label bg-success">成员</span>
        </p>
        #}
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-people"></i>
                        <span class="visible-xs-inline-block position-right">Users</span>
                    </a>

                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-heading">
                            在线成员
                            <ul class="icons-list">
                                <li><a href="#"><i class="icon-gear"></i></a></li>
                            </ul>
                        </div>

                        <ul class="media-list dropdown-content-body width-300">
                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Jordana Ansley</a>
                                    <span class="display-block text-muted text-size-small">Lead web developer</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-success"></span></div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Will Brason</a>
                                    <span class="display-block text-muted text-size-small">Marketing manager</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-danger"></span></div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Hanna Walden</a>
                                    <span class="display-block text-muted text-size-small">Project manager</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-success"></span></div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Dori Laperriere</a>
                                    <span class="display-block text-muted text-size-small">Business developer</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-warning-300"></span></div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading text-semibold">Vanessa Aurelius</a>
                                    <span class="display-block text-muted text-size-small">UX expert</span>
                                </div>
                                <div class="media-right media-middle"><span class="status-mark border-grey-400"></span></div>
                            </li>
                        </ul>

                        <div class="dropdown-content-footer">
                            <a href="#" data-popup="tooltip" title="All users"><i class="icon-menu display-block"></i></a>
                        </div>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-bubbles4"></i>
                        <span class="visible-xs-inline-block position-right">消息</span>
                        <span class="badge bg-warning-400">2</span>
                    </a>

                    <div class="dropdown-menu dropdown-content width-350">
                        <div class="dropdown-content-heading">
                            消息
                            <ul class="icons-list">
                                <li><a href="#"><i class="icon-compose"></i></a></li>
                            </ul>
                        </div>

                        <ul class="media-list dropdown-content-body">
                            <li class="media">
                                <div class="media-left">
                                    <img src="/static/assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                    <span class="badge bg-danger-400 media-badge">5</span>
                                </div>

                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">James Alexander</span>
                                        <span class="media-annotation pull-right">04:58</span>
                                    </a>

                                    <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                    <span class="badge bg-danger-400 media-badge">4</span>
                                </div>

                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Margo Baker</span>
                                        <span class="media-annotation pull-right">12:16</span>
                                    </a>

                                    <span class="text-muted">That was something he was unable to do because...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Jeremy Victorino</span>
                                        <span class="media-annotation pull-right">22:48</span>
                                    </a>

                                    <span class="text-muted">But that would be extremely strained and suspicious...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Beatrix Diaz</span>
                                        <span class="media-annotation pull-right">Tue</span>
                                    </a>

                                    <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Richard Vango</span>
                                        <span class="media-annotation pull-right">Mon</span>
                                    </a>

                                    <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                </div>
                            </li>
                        </ul>

                        <div class="dropdown-content-footer">
                            <a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
                        </div>
                    </div>
                </li>
                <li><a href="/user"><i class="icon-mention"></i><span>{{ user_info.username }}</span></a></li>


            </ul>
        </div>
    </div>
</div>



<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        {% block sidebar_main %}
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main sidebar-default sidebar-fixed">
                <div class="sidebar-content">
                    <div class="category-title bg-grey-50">
                        <span><a href="/topic"><i class="icon-arrow-left8 position-left"></i>切换应用</a></span>
                        {#<div class="heading-elements">#}

                        {#<span class="heading-text text-size-small"> <a href="#">草稿</a> <span#}
                        {#class="badge badge-flat border-slate text-slate-600 position-right">59</span></span>#}
                        {#</div>#}
                        {#<ul class="icons-list">#}
                        {#<li><a href="#">草稿 <span class="badge badge-flat border-slate text-slate-600">59</span></a></li>#}
                        {#</ul>#}
                    </div>

                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <a href="#" class="media-left"><img src="/static/assets/images/image.png" class="img-rounded img-sm" alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">{{ app.title }}</span>
                                    <div class="text-size-mini text-muted">
                                        <i class="icon-lifebuoy text-size-small"></i> &nbsp;~ <a href="http://{{ app.domain }}">{{ app.domain }}</a>
                                    </div>
                                </div>
                                {#
                                                                <div class="media-right media-middle">
                                                                    <ul class="icons-list">
                                                                        <li>
                                                                            <a href="#"><i class="icon-menu7"></i></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                #}
                            </div>
                        </div>
                    </div>

                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">

                            <ul class="navigation navigation-main navigation-accordion">
                                <li class=""><a><i class="icon-statistics"></i>应用统计</a></li>
                                <li class="navigation-header">内容</li>
                                <li class="{% if http.controller == 'topic' %}active{% endif %}"><a href="/application/{{ app.name }}/topic"><i class="icon-files-empty"></i>来自内容辑</a></li>
                                <li class="{% if http.controller == 'pages' %}active{% endif %}"><a href="/application/{{ app.name }}/pages"><i class="icon-file-empty"></i>页面</a></li>
                                {#<li><a href="#"><i class="icon-file-check"></i> 已应用 <span#}
                                {#class="badge badge-default">28</span></a></li>#}
                                {#<li><a href="#"><i class="  icon-file-minus"></i> 未应用</a></li>#}

                                {#<li class="navigation-divider"></li>#}
                                {#<li><a href="#"><i class="icon-stars"></i> 星标</a></li>#}
                                {#<li><a href="#"><i class="icon-spam"></i> 已屏蔽 <span class="badge badge-danger">99+</span></a></li>#}
                                {#<li><a href="#"><i class="icon-bin"></i> Trash</a></li>#}
                                {#
                                                                <li class="navigation-header">关联的内容</li>
                                                                {% for _ in app_topic %}
                                                                    <li class="{% if http.url == _.url %}active{% endif %}"><a
                                                                                href="{{ _.url }}"># {{ _.name }}</a></li>
                                                                {% endfor %}
                                #}
                                <li class="navigation-header">个性化</li>

                                <li><a href="#"><i class="icon-droplet2"></i> 主题 <span class="badge badge-info">86</span></a>
                                </li>
                                <li><a href="#"><i class=" icon-three-bars"></i> 菜单</a></li>

                                {#<li><a href="#"><i class="icon-make-group"></i> Assigned to my team <span class="badge badge-danger">47</span></a></li>#}
                                {#<li class="navigation-divider"></li>#}
                                <li class="navigation-header">配置</li>
                                <li><a href="/user"><i class=" icon-people"></i> 成员</a></li>
                                <li><a href="#"><i class=" icon-puzzle4"></i> 插件</a></li>
                                <li><a href="#"><i class="  icon-earth"></i> 域名</a></li>
                                <li><a href="/application/{{ app.name }}/setup"><i class="icon-wrench3"></i> 设置</a></li>

                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->
                    <!-- Support -->
                    {#<div class="sidebar-category no-margin">#}
                    {#<div class="category-title">#}
                    {#<span>需要帮助?</span>#}
                    {#<i class="icon-help text-muted pull-right"></i>#}
                    {#</div>#}

                    {#<div class="category-content">#}
                    {#<a href="http://kopyov.ticksy.com" class="btn bg-slate-800 btn-block" target="_blank"><i#}
                    {#class="icon-lifebuoy position-left"></i> 采撷blog</a>#}
                    {#<a href="http://kopyov.ticksy.com" class="btn bg-slate-800 btn-block" target="_blank"><i#}
                    {#class="icon-lifebuoy position-left"></i> 内容号切换</a>#}
                    {#</div>#}
                    {#</div>#}
                    <!-- /support -->
                </div>
            </div>
            <!-- /main sidebar -->

        {% endblock %}
        <!-- /main sidebar -->

        <!-- Secondary sidebar -->
        {% block sidebar_secondary %}{% endblock %}
        <!-- /secondary sidebar -->

        <!-- Main content -->
        <div class="content-wrapper ">
            {% block fab_menu %}{% endblock %}

            <!-- Content area -->
            <div class="content">

                <!-- Page header -->
                {% block page_header %}{% endblock %}
                <!-- /page header -->
                {% block content %}{% endblock %}

                <!-- Footer -->
                {% block footer %}
                    <div class="footer text-muted">
                        &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a
                                href="http://themeforest.net/user/Kopyov"
                                target="_blank">Eugene Kopyov</a>
                    </div>
                {% endblock %}
                <!-- /footer -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

        <!-- Opposite sidebar -->
        {% block opposite_sidebar %}{% endblock %}
        <!-- /opposite sidebar -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->
<!-- Core JS files -->

<script type="text/javascript" src="/static/assets/js/plugins/loaders/pace.min.js"></script>
<script type="text/javascript" src="/static/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/loaders/blockui.min.js"></script>
<!-- /core JS files -->

<!-- Plugin JS files -->
<script type="text/javascript" src="/static/assets/js/masonry/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="/static/assets/js/plugins/notifications/pnotify.min.js"></script>

<script type="text/javascript" src="/static/assets/js/plugins/forms/selects/select2.min.js"></script>

<script type="text/javascript" src="/static/assets/js/plugins/forms/validation/validate.min.js"></script>
<script type="text/javascript"
        src="/static/assets/js/plugins/forms/validation/localization/messages_zh.js"></script>
<!-- /plugin js files -->

<!-- Theme JS files -->
<script type="text/javascript" src="/static/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/forms/styling/switchery.min.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/forms/styling/switch.min.js"></script>

<script type="text/javascript" src="/static/assets/js/core/app.min.js"></script>
{#<script type="text/javascript" src="/static/assets/js/pages/form_checkboxes_radios.js"></script>#}
{#<script type="text/javascript" src="/static/assets/js/pages/extra_fab.js"></script>#}
{#<script type="text/javascript" src="/static/assets/js/pages/sidebar_detached_sticky_native.js"></script>#}

{#<script type="text/javascript" src="/static/assets/js/plugins/ui/ripple.min.js"></script>#}
<!-- /theme JS files -->

{% block script %}{% endblock %}
</body>
</html>
