{% extends "../_layout2.html" %}


{% block style %}

    <style>

        #resume-preview {
            min-height: 576px;
            width: 1024px;
            position: relative;
            display: inline-block;
            background: #fff;
            max-width: 1024px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
            overflow: hidden;
            margin-bottom: 24px
        }

        #resume-preview iframe {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1
        }

        #resume-preview .share-bar {
            opacity: 0;
            position: absolute;
            bottom: 24px;
            left: 50%;
            margin-left: -168px;
            width: 336px;
            height: 48px;
            background: rgba(24, 97, 242, 0.9);
            z-index: 2;
            box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.16), 0px 6px 8px 0px rgba(0, 0, 0, 0.16);
            -webkit-transition: all 0.4s cubic-bezier(0.32, 0, 0.16, 1);
            -moz-transition: all 0.4s cubic-bezier(0.32, 0, 0.16, 1);
            -ms-transition: all 0.4s cubic-bezier(0.32, 0, 0.16, 1);
            -o-transition: all 0.4s cubic-bezier(0.32, 0, 0.16, 1);
            transition: all 0.4s cubic-bezier(0.32, 0, 0.16, 1);
            display: none
        }

        #resume-preview:hover .share-bar {
            opacity: 1
        }

        #resume-preview .share-bar .bar-item {
            float: left;
            width: 112px;
            height: 100%;
            cursor: pointer;
            color: #fff;
            font-size: 14px;
            line-height: 50px;
            text-align: center;
            font-weight: 500
        }

        #resume-preview .share-bar .bar-item:hover {
            background: rgba(0, 0, 0, 0.16)
        }

        @media screen and (max-width: 1504px) {
            #resume-preview {
                width: 100%
            }
        }

        /*iframe {*/
        /*position: fixed;*/
        /*top: 10vh;*/
        /*width: 100vw;*/
        /*height: 90vh;*/
        /*}*/
        .frame-wrapper {
            position: relative;
            font-size: 0;
        }

        .frame-wrapper .frame-border {
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /*box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.13);*/
            pointer-events: none;
        }

        .frame-viewer {
            width: 100%;
            height: 400px;
            padding: 0;
            overflow: hidden;
        }

        .frame-viewer img.preview {
            width: 100%;
        }

        .frame-viewer iframe {

            width: 1024px;
            height: 900px;
            position: fixed;
            /*top: 10vh;*/
            /*width: 100vw;*/
            /*height: 100vh;*/

            /*width: 100%;*/
            /*height: 100%;*/
            /*position: relative;*/
            z-index: 1;
            border: 0;
            overflow: hidden;
            -webkit-transform: scale(0.685);
            transform: scale(0.825);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            background-color: white;
            border: none;
        }

        .col-md-7 .frame-viewer iframe {
            -webkit-transform: scale(0.53);
            transform: scale(0.53);
        }

        .col-md-6 .frame-viewer iframe {
            width: 1266px;
            height: 888px;
            -webkit-transform: scale(0.45);
            transform: scale(0.45);
        }

        .col-md-9 .frame-viewer iframe {
            width: 1266px;
            height: 888px;
            -webkit-transform: scale(0.45);
            transform: scale(0.45);
        }

        img.screenshot {
            width: 100%;
            box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 0 rgba(255, 255, 255, 0.2);
        }

        a.site-link {
            display: block;
            padding: 14px 10px;
            text-align: center;
            /*border: 1px solid rgba(43, 50, 57, 0.15);*/
            border-top: none;
            background-color: #FDFDFD;
            /*border-radius: 0 0 3px 3px;*/
            text-decoration: none;
        }

        a.site-link i {
            margin-right: 10px;
            position: relative;
            top: 2px;
        }

        a.site-link:hover {
            color: #24588a;
        }

        a.site-link:hover i.icon {
            -webkit-filter: brightness(70%);
            filter: brightness(70%);
        }

        .col-padding {
            position: relative;
            min-height: 1px;
            padding-left: 14px;
            padding-right: 14px;
        }
    </style>

{% endblock %}


{#{% block navbar_right %}#}

    {#<li><a href="/admin/posts/resume"><i class="icon-plus2 text-teal"></i> 简历</a></li>#}

{#{% endblock %}#}
{% block sidebar2 %}
<div class="sidebar sidebar-default">
    <div class="sidebar-content">

        <!-- Categories -->
        <div class="sidebar-category">
            <div class="category-title">
                <span>简历管理</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content no-padding">
                <ul class="navigation">
                    <li>
                        <a href="#" class="legitRipple">
                            <span class="text-muted text-size-small text-regular pull-right">12</span>
                            <i class="icon-wordpress"></i>
                            全部简历
                        </a>
                    </li>
                    <li>
                        <a href="#" class="legitRipple">
                            <span class="text-muted text-size-small text-regular pull-right">43</span>
                            <i class="icon-certificate"></i>
                            简历卡
                        </a>
                    </li>
                    <li>
                        <a href="#" class="legitRipple">
                            <span class="text-muted text-size-small text-regular pull-right">26</span>
                            <i class="icon-film2"></i>
                            简历皮肤
                        </a>
                    </li>

                    <li>
                        <a href="#" class="legitRipple">
                            <span class="text-muted text-size-small text-regular pull-right">83</span>
                            <i class="icon-images2"></i>
                            简历模板
                        </a>
                    </li>




                </ul>
            </div>
        </div>
        <!-- /categories -->


        <!-- Share -->
        <div class="sidebar-category">
            <div class="category-title">
                <span>Share</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content no-padding-bottom text-center">
                <ul class="list-inline no-margin">
                    <li>
                        <a href="#" class="btn bg-indigo btn-icon content-group legitRipple">
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn bg-danger btn-icon content-group legitRipple">
                            <i class="icon-youtube3"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn bg-info btn-icon content-group legitRipple">
                            <i class="icon-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn bg-orange btn-icon content-group legitRipple">
                            <i class="icon-feed3"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /share -->

    </div>
</div>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-sm-6 col-lg-4" v-for="_ in list">
            <div class="panel " :class=" _.id == default_index ? 'border-primary-400 border-lg' : ''">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a :href="_.content_json.resume.basics.picture">
                                <img :src="_.content_json.resume.basics.picture"
                                     style="width: 70px; height: 70px;" class="img-circle" alt="">
                            </a>
                        </div>

                        <div class="media-body">
                            <h6 class="media-heading" v-html="_.title"></h6>
                            <p class="text-muted" v-html="_.type"></p>
                        </div>

                    </div>
                </div>
                <div class="panel-footer text-center no-padding">
                    <div class="row">
                        <div class="col-xs-3" v-if="_.id == default_index">
                            <a class="display-block p-10 "><i class="icon-check text-success"></i></a>
                        </div>
                        <div class="col-xs-3" v-else>
                            {#<li v-if="_.name != current_theme"><a @click="active(_.name)"><i class="icon-check"></i> 启用</a></li>#}

                            <a @click="active(_.id)" class="display-block p-10 text-muted" data-popup="tooltip"
                               data-placement="top" data-container="body" title=""
                               data-original-title="设置为默认简历"><i class="icon-check position-left"></i>默认</a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" class="display-block p-10 text-muted" data-popup="tooltip"
                               data-placement="top" data-container="body" title="" data-original-title="预览"><i
                                        class="icon-eye"></i></a>
                        </div>

                        <div class="col-xs-3">
                            <a :href="'/admin/resume/' + _.id" class="display-block p-10 text-default" data-popup="tooltip"
                               data-placement="top" data-container="body" title=""><i
                                        class="icon-pencil5"></i></a>
                        </div>

                        <div class="col-xs-3">
                            <a :href="'/admin/resumes/delete?ids=' + _.id" class="display-block p-10 text-default delete ajax" data-popup="tooltip" data-placement="top" data-container="body" title="" data-original-title="删除简历"><i
                                        class="icon-trash text-danger-400"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block script %}
    <script>
        new Vue({
            el: "#app",
            data: {
                status: '',
                default_index: '<$ options.default_index $>',
                list: {}
            },
            mounted: function () {
                var vue = this;
                vue.fetch();

                eventHub.$on("fetch", function () {
                    vue.fetch();
                });

            },
            methods: {
                active: function (id) {
                    this.status = 'saving';
                    var vue = this;

                    var postData = {
                        "name": 'default_index',
                        "value": id
                    }

                    fetch('/admin/options', {
                        credentials: 'include',
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(postData)

                    }).then(function (response) {
                        if (response.ok) {
                            self.status = 'success';

                            return response.json();
                        } else {
                            var error = new Error(response.statusText)
                            error.response = response
                            throw error
                        }
                    }).then(function (json) {
                        eventHub.$emit('fetch');

                        vue.default_index = id;
                    })
                },
                activeTheme: function (theme_name) {
                    if (theme_name === this.current_theme) {
                        return 'checked';
                    } else {
                        return false;
                    }
                },

                fetch: function () {

                    var vue = this;
                    var _url = "/admin/posts/list?type=resume";

                    fetch(_url, {
                        credentials: 'include',
                        method: 'GET',
//                        mode: 'cors',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }

                    }).then(function (response) {

                        if (response.ok) {

                            return response.json();

                        } else {
                            self.status = 'error';

                            var error = new Error(response.statusText)
                            error.response = response
                            throw error
                        }
                    }).then(function (json) {

//                        console.log(JSON.stringify(json.data))
                        vue.list = json.data;

                    })


                }
            }


        });

    </script>
{% endblock %}
