{% extends "./_layout.html" %}

{% block main %}
    <section class="space--sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <div class="masonry masonry-blog-list">
                        <div class="masonry-filter-container text-center">
                            <span>内容分类:</span>
                            <div class="masonry-filter-holder">
                                <div class="masonry__filters" data-filter-all-text="全部类别"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="masonry__container masonry--active">
                            {% for _ in posts %}
                                <article class="masonry__item" data-masonry-filter="<$ _.type $>">
                                    <div class="article__title text-center">
                                        <a href="/article/<$ _.id $>">
                                            <h2><$ _.title | truncate(18, true) $></h2>

                                        </a>
                                        <span><$ _.modified | moment $> ・ </span>
                                        <span>
                                                <a href="#"><$ _.type $></a>
                                            </span>
                                    </div>
                                    <!--end article title-->
                                    <div class="article__body">
                                        {#<a href="#">#}
                                            {#<img alt="Image" src="/themes/default/img/blog-4.jpg" />#}
                                        {#</a>#}
                                        <p>
                                            <$ _.excerpt | markdown | safe $>
                                        </p>
                                        <a href="/article/<$ _.id $>">全文 &raquo;</a>
                                    </div>
                                </article>
                            <!--end item-->
                            {% endfor %}

                            <!--end item-->
                        </div>
                        <!--end of masonry container-->
                        <div class="pagination">
                            <$ pagerData | safe $>

                            {#<div class="col-xs-6">#}
                                {#<a class="type--fine-print" href="#">&laquo; Older Posts</a>#}
                            {#</div>#}
                            {#<div class="col-xs-6 text-right">#}
                                {#<a class="type--fine-print" href="#">Newer Posts &raquo;</a>#}
                            {#</div>#}
                        </div>
                    </div>
                    <!--end masonry-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>


{% endblock %}