{% extends "./_layout.html" %}

{% block main %}

    <section class="cover cover-features imagebg space--lg" data-scrim-bottom="9">
        <div class="background-image-holder" style="background: url(&quot;/themes/default/img/construction-1.jpg&quot;); opacity: 1;">
            <img alt="background" src="/themes/default/img/construction-1.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7">
                    <h2>
                        编程是一种生活
                    </h2>
                    <p class="lead">
                        自 2003 年接触程序以来，它已经成为我生活、工作的一个重要的组成部分，是我的爱好、朋友、思想的自留地，现在也会经常将一些想法实现起来.
                    </p>
                    <a class="btn btn--default type--uppercase" href="#">
                                <span class="btn__text">
                                    我的 Github
                                </span>
                    </a>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature feature--featured feature-1 boxed boxed--border bg--white">
                        <h5>Half Year Results 2017</h5>
                        <p>
                            28 February, 2017
                        </p>
                        <a href="#">
                            Read Story
                        </a>
                        <span class="label">New</span>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1 boxed boxed--border bg--white">
                        <h5>Awarded HSBC Contract</h5>
                        <p>
                            24 January, 2017
                        </p>
                        <a href="#">
                            Read Story
                        </a>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1 boxed boxed--border bg--white">
                        <h5>Environmental Statement</h5>
                        <p>
                            10 January, 2017
                        </p>
                        <a href="#">
                            Read Story
                        </a>
                    </div>
                    <!--end feature-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="github-widget" data-repo="baisheng/CmsWing"></div>
                <br>
                <div class="github-widget" data-repo="baisheng/picker-resume"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}

    <script src="/static/assets/js/jquery.githubRepoWidget.min.js"></script>
{% endblock %}