{% stickys data="home" %}

{% extends "./_layout.html" %}
{% block nav_style %}bar--transparent{% endblock %}
{% block style %}

    <style>
        .unloaded {
            min-height: 200px;
        // set a minimum default height for image containers
        // this prevents too many images from appearing in the viewport
        // thus causing lazy load to load too many images at once
        // we will use the lazyload .load() callback to remove this fixed
        }
    </style>
{% endblock %}
{% block main %}
    <section class="cover height-90 imagebg text-center" data-overlay="2" id="home">
        <div class="background-image-holder">
            <img alt="background" src="/themes/default/img/home2.jpg" />
        </div>
        <section class="page-navigator">
            <ul>
                <li>
                    <a href="#" class="inner-link" data-title="Blog"></a>
                </li>
                <li>
                    <a href="#snippet" class="inner-link" data-title="碎片"></a>
                </li>
                <li>
                    <a href="#联系" class="inner-link" data-title="联系"></a>
                </li>
            </ul>
        </section>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8">
                    <img alt="Image" class="unmarg--bottom" src="/themes/default/img/headline-1.png" />
                    <h3>
                        聪明人塑造自己的命运
                    </h3>
                    <a class="btn btn--sm type--uppercase" href="/portfolio">
                                <span class="btn__text">
                                    作品集
                                </span>
                    </a>
                </div>
            </div>

            <!--end of row-->
        </div>

        <!--end of container-->
    </section>

    <section class="text-center cta cta-4 space--xxs border--bottom ">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="/resume"> <span class="label label--inline">I'm Basil!</span></a>
                    <span class="">10 年互联网从业经验，连续创业者, </span>
                    <span class=" inline-block typed-text typed-text--cursor color--primary-1"
                          data-typed-strings="Code, Design, 反脆弱践行"></span>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <a href="/portfolio" class="block">
                        <div class="feature feature-7 boxed text-center imagebg" data-overlay="5">
                            <div class="background-image-holder" style="background: url(&quot;/themes/default/img/recruitment-2.jpg&quot;); opacity: 1;">
                                <img alt="background" src="/themes/default/img/recruitment-2.jpg">
                            </div>
                            <h4 class="pos-vertical-center">Portfolio</h4>
                            <p class="pos-vertical-center">
                                产品 & UI 设计、商业咨询、在线教育平台
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <a href="/code" class="block">
                        <div class="feature feature-7 boxed text-center imagebg" data-overlay="3">
                            <div class="background-image-holder" style="background: url(&quot;/themes/default/img/recruitment-1.jpg&quot;); opacity: 1;">
                                <img alt="background" src="/themes/default/img/recruitment-1.jpg">
                            </div>
                            <h4 class="pos-vertical-center">Code</h4>
                            <p class="pos-vertical-center">Java、JavaScript</p>

                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <a href="#" class="block">
                        <div class="feature feature-7 boxed text-center imagebg" data-overlay="5">
                            <div class="background-image-holder" style="background: url(&quot;/themes/default/img/cowork-5.jpg&quot;); opacity: 1;">
                                <img alt="background" src="/themes/default/img/cowork-5.jpg">
                            </div>
                            <h4 class="pos-vertical-center">Design</h4>
                            <p class="pos-vertical-center">Photograph、Paint、UI</p>

                        </div>
                    </a>
                </div>

            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-block text-center">
                        <h3>最新 blog</h3>
                    </div>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                {% for item in home %}


                    <div class="col-sm-4">
                        <div class="feature feature-1 boxed boxed--border hover-shadow">
                            <span class="label"><$ item.type $></span>
                            <h5><$ item.title $></h5>
                            <p>
                                {#<$ item.excerpt $>#}
                            </p>
                            <a href="#">
                                查看全文
                            </a>
                        </div>
                        <!--end feature-->
                    </div>
                {% endfor %}

            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="" id="snippet">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-block text-center">
                        <h3>碎片</h3>
                    </div>
                </div>
            </div>
            <div class="row" data-plugin="masonry">


                <div class="col-sm-4 masonry-item" v-for="_ in list">
                    <snippet :snippet="_"></snippet>
                    <!-- START ITEM -->
                    <!-- END ITEM -->
                    <!--end feature-->
                </div>

            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
        <infinite-loading  spinner="waveDots" :on-infinite="onInfinite" :distance="distance" ref="infiniteLoading">
            <span slot="no-more">
                <a href="/snippets">更多碎片...</a>
            </span>
        </infinite-loading>
    </section>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/assets/js/plugins/moment/moment.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/plugins/moment/moment-with-locales.js"></script>
    {#<script src="/themes/default/js/vue-lazyload.js"></script>#}

    <script>
        Vue.filter('moment', function (time, format) {
            moment.locale('zh-cn');

            if (format === "default") {
                format = 'YYYY-MM-DD HH:mm:ss';
                return moment(time).format(format);
            }
            return moment(time).fromNow();
        });

    </script>

    <script src="/themes/default/js/components/main.js"></script>

{% endblock %}
