{% extends "./_layout.html" %}

{% block main %}
    <section class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="type--uppercase">我的服务</h6>
                    <div class="typed-headline">
                        <span class="h1 inline-block">可提供</span>
                        <span class="h1 inline-block typed-text typed-text--cursor color--primary" data-typed-strings="产品规划,UI/UE 设计,技术研发,商业规划咨询"></span>
                    </div>
                    <p class="lead">
                        五年在线教育行业、十年互联网从业经验，反脆弱生活践行者，专注于互联网产品 & 技术
                    </p>
                    <a class="btn btn--primary type--uppercase inner-link" href="#demos">
                                <span class="btn__text">
                                    与我合作
                                </span>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg--dark space--sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="masonry masonry-demos">
                        <div class="masonry-filter-container text-center">
                            <span>部分个人作品展示:</span>
                            <div class="masonry-filter-holder">
                                <div class="masonry__filters" data-filter-all-text="全部类别"></div>
                            </div>
                        </div>
                        <div class="masonry__container">
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="设计">
                                <a href="home-landing-5.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 5" src="/themes/default/img/works/invite.png" />
                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>中华文化共同体邀请函「腾讯科技(北京)」</h5>
                                    <span>平面设计</span>
                                    <br />
                                    <code>Affinity Design、Sketch</code>

                                </div>
                            </div>
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="研发">
                                <a href="home-landing-1.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 1" src="/themes/default/img/works/face3.png" />
                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>面部识别系统「日本 JIEM 公司」</h5>
                                    <span>系统研发 & UI 设计</span>
                                    <br />
                                    <code>NodeJS、Mongodb、Sketch</code>

                                </div>
                            </div>
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="设计">
                                <a href="home-landing-7.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 5" src="/themes/default/img/works/Login-iPhone.png" />

                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>迪士尼英语 APP（上海华特迪士尼）</h5>
                                    <span>产品策划 &  UI 设计</span>
                                    <br />
                                    <code>Sketch</code>

                                </div>
                            </div>
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="设计">
                                <a href="home-landing-3.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 3" src="/themes/default/img/works/caixie.jpg" />
                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>采撷教育 LOGO</h5>
                                    <span>平面设计</span>
                                    <br />
                                    <code>AI、Sketch</code>
                                </div>
                            </div>


                            <!--end item-->
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="设计">
                                <a href="home-landing-2.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 2" src="/themes/default/img/works/img-1.png" />
                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>骏尚汽车（江苏骏尚汽车）</h5>
                                    <span>产品策划 & UI 设计</span>
                                    <br />
                                    <code>Affinity Photo、Sketch</code>
                                </div>
                            </div>
                            <!--end item-->

                            <!--end item-->
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="设计">
                                <a href="home-landing-3.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 3" src="/themes/default/img/works/spayoulogo.png" />
                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>Spayou LOGO</h5>
                                    <span>平面设计</span>
                                    <br />
                                    <code>Sketch</code>

                                </div>
                            </div>
                            <!--end item-->

                            <!--end item-->
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="研发">
                                <a href="home-landing-6.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 5" src="/themes/default/img/works/haibei.png" />

                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>海贝网（中国科学院计算所）</h5>
                                    <span>系统研发 & UI 设计</span>
                                    <br />
                                    <code>PHP、D3.js、Sketch</code>

                                </div>
                            </div>
                            <!--end item-->

                            <!--end item-->
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="设计">
                                <a href="home-landing-8.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 5" src="/themes/default/img/works/myblog.png" />

                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>Hexo blog 皮肤</h5>
                                    <span>前端 & UI</span>
                                    <br />
                                    <code>NodeJS、Sketch</code>

                                </div>
                            </div>

                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="研发">
                                <a href="home-landing-8.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 5" src="/themes/default/img/works/cmswing.png" />

                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>内容管理系统</h5>
                                    <span>产品策划、系统研发 & UI</span>
                                    <br />
                                    <code>NodeJS、Sketch</code>

                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="咨询">
                                <a href="home-landing-9.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 5" src="/themes/default/img/works/wl8888.png" />

                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>大宗物流平台融资方案「河北物流宝兑通」</h5>
                                    <span>融资计划起草、PPT</span>
                                    <br />
                                    <code>Keynote、Sketch</code>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="咨询">
                                <a href="home-landing-10.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 5" src="/themes/default/img/works/cailian.png" />

                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>财联网教育系统「中联集团」</h5>
                                    <span>教育赋能系统解决方案</span>
                                    <br />
                                    <code>Keynote、JAVA、Sketch</code>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="研发">
                                <a href="home-software-1.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 5" src="/themes/default/img/works/resume.png" />

                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>在线简历系统</h5>
                                    <span>产品设计、系统研发 & UI</span>
                                    <br />
                                    <code>NodeJS、VUE.js、Sketch</code>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="研发">
                                <a href="home-software-2.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 5" src="/themes/default/img/works/newcmswing.png" />

                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>CMS 系统</h5>
                                    <span>系统研发、UI定制</span>
                                    <br />
                                    <code>NodeJS、VUE.js、Sketch</code>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="研发">
                                <a href="home-software-3.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 5" src="/themes/default/img/works/caixie-home.png" />

                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>采撷 Landing</h5>
                                    <span>交互设计、UI</span>
                                    <br />
                                    <code>NodeJS、VUE.js、Sketch</code>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="咨询">
                                <a href="home-construction.html" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 5" src="/themes/default/img/works/sunland.png" />

                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>APP 产品咨询「尚德教育」</h5>
                                    <span>咨询方案</span>
                                </div>
                            </div>
                            <!--end item-->
                            <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="咨询">
                                <a href="http://static.picker.cc/archive/devops/" class="block text-block">
                                    <div class="hover-shadow">
                                        <img alt="Landing 5" src="/themes/default/img/works/devops.png" />

                                    </div>
                                </a>
                                <div class="text-center">
                                    <h5>DevOps 培训「中科院计算所」</h5>
                                    <span>技术讲座</span>

                                    <br />
                                    <code>Keynote、Sketch</code>
                                </div>
                            </div>
                            <!--end item-->

                        </div>
                        <!--end of masonry container-->
                    </div>
                    <!--end masonry-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

{% endblock %}

