{% extends "./_layout.html" %}
{% block nav_style %}bar--transparent{% endblock %}

{% block main %}

    <section class="cover cover-features imagebg space--lg" data-scrim-bottom="9">
        <div class="background-image-holder" style="background: url(&quot;/themes/default/img/home1.jpg&quot;); opacity: 1;">
            <img alt="background" src="/themes/default/img/home1.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7">
                    <h2>
                        用程序编织生活
                    </h2>
                    <p class="lead">
                        自 2002 年接触程序以来，它已经成为我生活、工作的一个重要的组成部分，现在也会经常将一些想法用代码呈现并开源出来。
                    </p>
                    <a class="btn btn--default type--uppercase" href="https://github.com/baisheng">
                                <span class="btn__text">
                                    我的 Github
                                </span>
                    </a>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature feature--featured feature-1 boxed boxed--border bg--white">
                        <h5>Half Year Results 2017</h5>
                        <p>
                            28 February, 2017
                        </p>
                        <a href="#">
                            Read Story
                        </a>
                        <span class="label">New</span>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1 boxed boxed--border bg--white">
                        <h5>Awarded HSBC Contract</h5>
                        <p>
                            24 January, 2017
                        </p>
                        <a href="#">
                            Read Story
                        </a>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1 boxed boxed--border bg--white">
                        <h5>Environmental Statement</h5>
                        <p>
                            10 January, 2017
                        </p>
                        <a href="#">
                            Read Story
                        </a>
                    </div>
                    <!--end feature-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section class="" id="snippet">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-block text-center">
                        <h3>碎片</h3>
                    </div>
                </div>
            </div>
            <div class="row" data-plugin="masonry">


                <div class="col-sm-4 masonry-item" v-for="_ in list">
                    <snippet :snippet="_"></snippet>
                    <!-- START ITEM -->
                    <!-- END ITEM -->
                    <!--end feature-->
                </div>

            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
        <infinite-loading  spinner="waveDots" :on-infinite="onInfinite" :distance="distance" ref="infiniteLoading">
            <span slot="no-more">
                没有更多了！
            </span>
        </infinite-loading>
    </section>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/assets/js/plugins/moment/moment.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/plugins/moment/moment-with-locales.js"></script>
    {#<script src="/themes/default/js/vue-lazyload.js"></script>#}

    <script>
        Vue.filter('moment', function (time, format) {
            moment.locale('zh-cn');

            if (format === "default") {
                format = 'YYYY-MM-DD HH:mm:ss';
                return moment(time).format(format);
            }
            return moment(time).fromNow();
        });

    </script>

    <script src="/themes/default/js/components/snippets.js"></script>

{% endblock %}