<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><$ options.title $> - <$ options.description $></title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="/static/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/static/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->


</head>

<body class="login-container">
<!-- Main navbar -->
<div class="navbar navbar-inverse bg-slate-800">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
            <$ options.title $>

            {#<img src="/static/assets/images/logo_light.png" alt="">#}
        </a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">
                    <i class="icon-display4"></i> <span class="visible-xs-inline-block position-right"> 首页</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="icon-user-tie"></i> <span
                            class="visible-xs-inline-block position-right"> Contact admin</span>
                </a>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-cog3"></i>
                    <span class="visible-xs-inline-block position-right"> Options</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content">

                <!-- Simple login form -->
                <form metod="post" class="form-validate" id="_form">

                    <div class="panel panel-body login-form">
                        <div class="text-center">
                            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                            <h5 class="content-group"><$ team.title $>
                                <small class="display-block"><$ team.description $></small>
                            </h5>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input id="name" name="username" type="text" class="form-control" placeholder="账户名">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input id="password" name="password" type="password" class="form-control" placeholder="密码">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group ">
                            <button type="submit" class="btn bg-teal-400 btn-block">登录 <i
                                        class="icon-circle-right2 position-right"></i></button>
                        </div>

                        <div class="text-center">
                            <a href="login_password_recover.html">忘记密码?</a>
                        </div>
                    </div>
                </form>
                <!-- /simple login form -->


                <!-- Footer -->
                <div class="footer text-muted text-center">
                    &copy; 2017. <a href="#">北京采撷科技</a>
                </div>
                <!-- /footer -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Core JS files -->
<script type="text/javascript" src="/static/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/js/core/libraries/bootstrap.min.js"></script>
<!-- /core JS files -->
<script type="text/javascript" src="/static/assets/js/plugins/noty/packaged/jquery.noty.packaged.min.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/notifications/pnotify.min.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/forms/validation/validate.min.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/forms/validation/localization/messages_zh.js"></script>
<script type="text/javascript" src="/static/assets/js/pages/form_validation.js"></script>

<script>

    $('#_form').submit(function (e) {
        e.preventDefault();
        if ($(".form-validate").valid()) {

            $.post("<$ http.url $>",
                $(this).serialize()).done(function (data) {

                if (data.errno > 0) {
//                    noty({
//                        text: 'NOTY - a jquery notification library!',
//                        animation: {
//                            open: {height: 'toggle'},
//                            close: {height: 'toggle'},
//                            easing: 'swing',
//                            layout      : 'topCenter',
//                            theme       : 'relax',
//                            speed: 500 // opening & closing animation speed
//                        }
//                    });
//
                    noty({
                        text        : data.errmsg,
                        type        : 'error',
                        dismissQueue: true,
                        layout      : 'topCenter',
                        theme       : 'relax',
                        closeWith   : ['click'],
                        timeout     : 10000,
                    });

                } else {
                    noty({
                        text        : "登录成功",
                        type        : 'success',
                        dismissQueue: true,
                        layout      : 'topCenter',
                        theme       : 'relax',
                        closeWith   : ['click'],
                        timeout     : 10000,
                    });

                    location.reload();

                }
            }).fail(function () {
                new PNotify({
                    title: '出错啦',
                    icon: 'icon-blocked',
                    text: data.errmsg,
                    addclass: 'bg-danger',
                    type: 'danger',
                    animate: {
                        animate: true,
                        in_class: 'bounceIn',
                        out_class: 'bounceOut'
                    }
                });
            });
        }
    });
</script>

{% block script %}{% endblock %}
</body>
</html>
