{#{% extends "../_inc/_base.html" %}#}
{% extends "../_layout.html" %}
{##}
{#{% block body_style %} navbar-top {% endblock %}#}
    {#{% block body_style %}sidebar-opposite-visible{% endblock %}#}

{#{% block navbar_style %} navbar-fixed-top {% endblock %}#}
{% block style %}
    <link href="/static/assets/css/icons/ionicons/css/ionicons.css" rel="stylesheet" type="text/css">


    <style>
        .post-image {
            position: relative;
            width: 100%;
            margin-top: 16px;
            background-color: #f3f6f8;
            text-align: center;
        }

        .post-image:first-child {
            margin-top: 0;
        }

        .post-image.is-placeholder {
            background-color: #e9eff3;
            -webkit-animation: loading-fade 1.6s ease-in-out infinite;
            animation: loading-fade 1.6s ease-in-out infinite;
        }

        @media (min-width: 481px) {
            .post-image.is-collapsed, .post-image.is-placeholder {
                height: 232px;
            }
        }

        @-webkit-keyframes loading-fade {
            0% {
                opacity: .5;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: .5;
            }
        }

        @keyframes loading-fade {
            0% {
                opacity: .5;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: .5;
            }
        }

        @-webkit-keyframes appear {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes appear {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @-webkit-keyframes pulse-light {
            50% {
                background-color: #e9eff3;
            }
        }

        @keyframes pulse-light {
            50% {
                background-color: #e9eff3;
            }
        }

        @-webkit-keyframes loading-dot-pulse {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        @keyframes loading-dot-pulse {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

    </style>

    <style>
        a.delete {
            z-index: 5;
            position: relative;
        }

        a.delete div {
            width: 76px;
            height: 40px;
            top: 50%;
            left: 50%;
            background: #fefefe;
            position: absolute;
            z-index: 5;
            margin: -20px 0 0 -38px;
            -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 0 6px rgba(46, 48, 56, 0.3);
            -moz-box-shadow: 0 0 6px rgba(46, 48, 56, 0.3);
            box-shadow: 0 0 6px rgba(46, 48, 56, 0.3);
        }

        a.delete div .confirm,
        a.delete div .abort {
            vertical-align: top;
            line-height: 32px;
            position: absolute;
            width: 32px;
            height: 32px;
            margin: 0;
            font-size: 21px !important;
            top: 4px;
            text-align: center;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

        a.delete div .confirm:before,
        a.delete div .abort:before {
            line-height: 32px;
            display: block;
        }

        a.delete div .confirm {
            color: #fff;
            background: #ef4748;
            left: 4px;
        }

        a.delete div .abort {
            /*color: #858a95;*/
            /*color: #;*/
            right: 4px;
        }


    </style>

    <style>
        .form-element {
            margin-bottom: 16.66666667px;
        }

        .form-element label {
            color: #666978;
            margin-bottom: 5px;
            max-width: 100%;
            display: block;
        }

        .switch,
        .switch-inline {
            overflow: hidden;
            margin: 0 0 5px 0;
        }

        .switch.switch-inline,
        .switch-inline.switch-inline {
            margin: 0 10px 0 0;
            display: inline-block;
        }

        .switch div,
        .switch-inline div {
            float: left;
            margin: 0 0 0 10px;
            line-height: 20px;
        }

        .switch label,
        .switch-inline label {
            margin-bottom: 0;
        }

        .switch input,
        .switch-inline input {
            position: absolute;
            margin-left: -9999px;
            visibility: hidden;
        }

        .switch input + label,
        .switch-inline input + label {
            display: block;
            position: relative;
            cursor: pointer;
            outline: 0;
            float: left;
            user-select: none;
            padding: 1px;
            width: 40px;
            height: 20px;
            background: #e5eaf4;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .switch input + label:before,
        .switch-inline input + label:before,
        .switch input + label:after,
        .switch-inline input + label:after {
            display: block;
            position: absolute;
            content: "";
        }

        .switch input + label:before,
        .switch-inline input + label:before {
            top: 1px;
            left: 1px;
            bottom: 1px;
            right: 1px;
            background: #fff;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .switch input + label:after,
        .switch-inline input + label:after {
            top: 2px;
            left: 2px;
            bottom: 2px;
            width: 16px;
            background: #e5eaf4;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .switch input:checked + label:after,
        .switch-inline input:checked + label:after {
            margin-left: 20px;
            background: #41da54;
        }

        .switch input:disabled + label:after,
        .switch-inline input:disabled + label:after {
            cursor: not-allowed;
        }

        .switch input:disabled + label:before,
        .switch-inline input:disabled + label:before {
            background: #f8f9fb;
            cursor: not-allowed;
        }


    </style>


    <style>
        /* Enter and leave animations can use different */
        /* durations and timing functions.              */
        .slide-fade-enter-active {
            transition: all .3s ease;
        }

        .slide-fade-leave-active {
            transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }

        .slide-fade-enter, .slide-fade-leave-to
            /* .slide-fade-leave-active for <2.1.8 */
        {
            transform: translateX(10px);
            opacity: 0;
        }
    </style>
{% endblock %}

{% block main_nav %}


    {#<li class="active">#}
    {#<a href="/admin/snippets"><i class="icon-files-empty position-left"></i> 全部</a>#}
    {#</li>#}
    <div class="navbar-btn btn-group ">
        {#<button type="button" class="btn btn-default "><i class="icon-star-empty3"></i></button>#}
        <a type="button" class="btn btn-default" href="/admin/snippets"><i class="icon-files-empty position-left"></i> 全部</a>

        <a type="button" class="btn btn-default"  @click="fetch('publish')"><i class="icon-check"></i>
            <span class="hidden-xs position-right">
                    {{ 'publish' | lang }}

                </span>
        </a>
        <a type="button" class="btn btn-default" @click="fetch('pending')"><i class="icon-eye-plus"></i><span
                    class="hidden-xs position-right">
                    {{ 'pending' | lang }}
                </span></a>

        <a type="button" class="btn btn-default " @click="fetch('drafts')"><i class="icon-box"></i> <span
                    class="hidden-xs position-right" >
                    {{ 'draft' | lang }}
                    </span></a>

        <a type="button" class="btn btn-default "  @click="fetch('trashed')"><i class=" icon-bin2"></i> <span
                    class="hidden-xs position-right">
                    {{ 'trash' | lang }}

                </span></a>

    </div>
    {#<ul class="nav navbar-nav">#}
    {##}
    {#</ul>#}

{% endblock %}

{% block content %}


    <div class="row mr-20" data-plugin="masonry" v-cloak>

        <div class=" col-lg-4 col-md-6 col-xs-12 masonry-item" v-for="_ in pageAll">

            <div class="panel panel-default">

                <div class="panel-heading">
                        <span class="panel-title">
                            <a href="#" class="dropdown-toggle" :class="statusStyle(_)" data-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa fa-quote-left position-left"
                                   v-if="_.meta['_snippet_type'] === 'quote'"></i>
                            <i class="icon-codepen position-left" v-else-if="_.meta['_snippet_code']"></i>
                            <i class="fa fa-lightbulb-o position-left"
                               v-else-if="_.meta['_snippet_type'] === 'idea'"></i>
                            <i class="fa fa-comments-o position-left"
                               v-else-if="_.meta['_snippet_type'] === 'comment'"></i>
                            <i class="fa fa-history position-left" v-else-if="_.meta['_snippet_type'] === 'feed'"></i>
                            <i class="fa fa-smile-o position-left" v-else-if="_.meta['_snippet_type'] === 'person'"></i>
                            <i class="fa fa-file-text-o position-left" v-else></i>
                                {{ _.status | lang }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu active">
                                <li :class="{active: _.status === 'publish'}"><a
                                            @click="changeStatus(_, 'publish')"><span
                                                class="status-mark position-left bg-success-400"></span> {{ 'publish' | lang }}</a></li>

                                <li :class="{active: _.status === 'private'}"><a
                                            @click="changeStatus(_, 'private')"><span
                                                class="status-mark position-left bg-grey-300"></span> {{ 'private' | lang }}</a></li>
                                <li :class="{active: _.status === 'draft'}"><a @click="changeStatus(_, 'draft')"><span
                                                class="status-mark position-left bg-indigo-400"></span> {{ 'draft' | lang }}</a></li>
                                <li :class="{active: _.status === 'pending'}"><a
                                            @click="changeStatus(_, 'pending')"><span
                                                class="status-mark position-left bg-info-400"></span> {{ 'pending' | lang }}</a></li>

                            </ul>

                        </span>
                    <div class="heading-elements panel-nav">
                        <ul class="list-inline list-inline-separate heading-text">
                            <li v-if="snippet_id === _.id">
                                <a class="" @click="setting(0)"><i class="fa fa-long-arrow-left position-left"></i></a>
                            </li>

                            <li class="" v-else>
                                <a @click="setting(_.id)" aria-expanded="false">
                                    <i class=" icon-cog5 position-left"></i>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>

                <div class="panel-tab-content tab-content">

                    <div class="tab-pane has-padding active animation fade-in" v-if="snippet_id === _.id">

                        <div class="text-center">
                            <h6 class="text-semibold no-margin">内容转换</h6>
                            <p class="content-group-sm text-muted">每种内容类型都拥有不同的能力</p>
                        </div>
                        <div class="form-group">
                            {#<p>选择的内容类型: {{ selected }}</p>#}
                            <select2 :options="options" v-model="selected">
                                {#<option disabled value="standard">默认类型</option>#}
                            </select2>
                        </div>

                        <div class="form-group" v-if="selected === 'code'">
                            <p>选择的程序语言: <span class="text-primary">{{ snippet_code_lang }}</span></p>

                            <select2 :options="codelang" v-model="snippet_code_lang">
                                {#<option disabled value="0">标记语言（默认）</option>#}
                            </select2>
                        </div>

                        <div class="content-group" v-else-if="selected === 'status'">
                            <div class="row row-seamless btn-block-group">
                                <div class="col-xs-6">
                                    <button type="button"
                                            class="btn btn-default btn-block btn-float btn-float-lg legitRipple">
                                        <i class=" icon-twitter text-info-600"></i>
                                        <span>Twitter</span>
                                    </button>

                                    <button type="button"
                                            class="btn btn-default btn-block btn-float btn-float-lg legitRipple">
                                        <i class="icon-facebook text-blue-800"></i>
                                        <span>facebook</span>
                                    </button>
                                </div>

                                <div class="col-xs-6">
                                    <button type="button"
                                            class="btn btn-default btn-block btn-float btn-float-lg legitRipple">
                                        <i class="fa fa-weibo text-warning-600"></i>
                                        <span>微博</span>
                                    </button>

                                    <button type="button"
                                            class="btn btn-default btn-block btn-float btn-float-lg legitRipple">
                                        <i class="fa fa-wechat text-success-400"></i>
                                        <span>微信</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="conteng-group" v-else-if="selected === 'quote'">
                            <div class="panel panel-body bg-info-300"
                                 style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png);">
                                <div class="media no-margin">
                                    <div class="media-left media-middle">
                                        <i class="icon-quotes-left text-white"></i>
                                    </div>

                                    <div class="media-body text-right">
                                        <span class="text-muted">{{ _.content }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-body">
                                <div class="media no-margin stack-media-on-mobile">
                                    <div class="media-left media-middle">
                                        <i class="icon-quotes-right2 icon-2x text-muted no-edge-top"></i>
                                    </div>

                                    <div class="media-body">
                                        {#<h6 class="media-heading text-semibold">Got a question or request?</h6>#}
                                        <span class="text-muted">{{ _.content }}</span>
                                    </div>

                                    {#<div class="media-right media-middle">#}
                                    {#<a href="#" class="btn btn-primary legitRipple">选用</a>#}
                                    {#</div>#}
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-white " v-if="selected === 'link'">
                            <div class="panel-body text-center">
                                {#<div class="content-group mt-5">#}
                                    {#<i class="icon-css3 icon-3x text-warning"></i>#}
                                {#</div>#}

                                {#<h6 class="text-semibold"><a href="#" class="text-default">Knowledge Base</a></h6>#}

                                {#<p class="mb-15">Inanimately alongside candidly much and jeez conductively hid#}
                                    {#submissively hatchet</p>#}

                                {#<a href="#">访问链接 →</a>#}
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane has-padding active" v-else>

                        <blockquote class="no-margin panel panel-body border-left-lg border-left-warning "
                                    v-html="_.content" v-if="_.meta['_snippet_type'] === 'quote'"></blockquote>

                        {# 代码 #}
                        <pre class="content-group " :class="'language-' + _.meta['_snippet_code']['lang']"
                             v-else-if="_.meta['_snippet_code']">
                                <code>{{ _.content }}</code>
                            {#<code>{{ _.content }}</code>#}
                            </pre>a

                        {# 链接 #}
                        <div class="panel-body text-center" v-else-if="typeof(_.meta['_snippet_link']) != 'undefined'">
                            <div class="content-group mt-5">
                                {#{{ _.meta['_snippet_link']['og:url']}}#}
                                <h5 class="text-warning">{{ _.meta['_snippet_link']['og:site_name'] }}</h5>
                            </div>

                            <h6 class="text-semibold"><a href="#" class="text-default">{{ _.meta['_snippet_link']['title'] }}</a></h6>

                            <p class="mb-15">{{ _.meta['_snippet_link']['og:description'] }}</p>

                            <a :href="_.content" target="_blank">访问链接 →</a>
                        </div>
                        {# Idea 一段思想#}
                        <div class="panel panel-body  text-center"
                             style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png);"
                             v-else-if="_.meta['_snippet_type'] === 'idea'">
                            {#<div class="content-group mt-5">#}
                            {#<i class="icon-brain icon-2x text-teal-400"></i>#}
                            {#</div>#}
                            <p class="mt-10 text-primary" v-html="_.content"></p>
                        </div>

                        <div class="" v-else-if="_.meta['_snippet_type'] === 'comment'">
                            <ul class="media-list chat-list content-group">
                                <li class="media reversed">
                                    <div class="media-body">
                                        <div class="media-content" v-html="_.content"></div>
                                        <span class="media-annotation display-block mt-10">{{ _.modified | moment }}</span>
                                    </div>

                                    <div class="media-right">
                                        <a href="/static/assets/images/demo/images/3.png">
                                            <img src="/static/assets/images/demo/users/face1.jpg" class="img-circle"
                                                 alt="">
                                        </a>
                                    </div>
                                </li>


                            </ul>

                            <textarea name="enter-message" class="form-control content-group" rows="3" cols="1"
                                      placeholder="输入你的回复..."></textarea>

                            <div class="row">
                                <div class="col-xs-6">
                                    <ul class="icons-list icons-list-extended mt-10">
                                        <li><a href="#" data-popup="tooltip" data-container="body" title=""
                                               data-original-title="Send photo"><i class="icon-file-picture"></i></a>
                                        </li>
                                        <li><a href="#" data-popup="tooltip" data-container="body" title=""
                                               data-original-title="Send video"><i class="icon-file-video"></i></a></li>
                                        <li><a href="#" data-popup="tooltip" data-container="body" title=""
                                               data-original-title="Send file"><i class="icon-file-plus"></i></a></li>
                                    </ul>
                                </div>

                                <div class="col-xs-6 text-right">
                                    <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i
                                                    class="icon-circle-right2"></i></b> 发送
                                    </button>
                                </div>
                            </div>
                        </div>

                        {# 进程 #}
                        <div class="" v-else-if="_.meta['_snippet_type'] === 'feed'">
                            <ul class="list-feed">
                                <li class="border-pink-400">
                                    <div class="text-muted text-size-small mb-5">{{ _.date | moment }}</div>
                                    开始
                                    {#User <a href="#">Christopher Wallace</a> is awaiting for staff reply#}
                                </li>
                                <li class="border-pink-400">
                                    <div class="text-muted text-size-small mb-5">{{ _.modified | moment }}</div>
                                    <a href="#">{{ _.author }}</a> {{ _.content }}
                                </li>


                                {##}
                                {#<li class="border-warning-400">#}
                                {#<div class="text-muted text-size-small mb-5">12 minutes ago</div>#}
                                {#Ticket <strong>#43683</strong> has been closed by <a href="#">Victoria Wilson</a>#}
                                {#</li>#}
                                {##}
                                {#<li class="border-warning-400">#}
                                {#<div class="text-muted text-size-small mb-5">12 minutes ago</div>#}
                                {#All sellers have received payouts for December!#}
                                {#</li>#}
                            </ul>
                            <textarea name="enter-message" class="form-control content-group mt-10" rows="1" cols="1"
                                      placeholder="新进程..."></textarea>
                            <div class="row">
                                <div class="col-xs-6">
                                    <ul class="icons-list icons-list-extended mt-10">
                                        {#<li><a href="#"><i class="icon-mic2"></i></a></li>#}
                                        {#<li><a href="#"><i class="icon-file-picture"></i></a></li>#}
                                        <li><a href="#"><i class="icon-file-plus"></i></a></li>
                                    </ul>
                                </div>

                                <div class="col-xs-6 text-right">
                                    <a type="button" class="btn btn-link">补充</a>
                                    <a type="button" class="btn btn-default">结束</a>

                                </div>
                            </div>
                        </div>

                        {# 人物 #}
                        <div class="" v-else-if="_.meta['_snippet_type'] === 'person'">
                            <div class="media">
                                <div class="media-left">
                                    <a href="/static/assets/images/demo/images/3.png">
                                        <img src="/static/assets/images/demo/users/face1.jpg" class="img-circle img-lg"
                                             alt="">
                                    </a>
                                </div>

                                <div class="media-body">
                                    <h6 class="media-heading">{{ _.title }}</h6>
                                    <span class="text-muted">{{ _.content }}</span>
                                </div>

                                <div class="media-right media-middle">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                               aria-expanded="true">
                                                <i class="icon-menu7"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#"><i class="icon-comment-discussion pull-right"></i> Start
                                                        chat</a></li>
                                                <li><a href="#"><i class="icon-phone2 pull-right"></i> Make a call</a>
                                                </li>
                                                <li><a href="#"><i class="icon-mail5 pull-right"></i> Send mail</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#"><i class="icon-statistics pull-right"></i> 转换</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {# 默认 文字 #}
                        <div class="content-group" v-else>{{ _.content }}</div>
                    </div>


                    {#<div class="tab-pane has-padding" id="'panel-tab4">#}
                    {#This is the fourth panel tab content#}
                    {#</div>#}
                </div>


                <div class="panel-footer text-center no-padding" v-if="snippet_id === _.id">
                    <div class="row">
                        <div class="col-xs-4">
                            <a @click="save(_)" class="display-block p-10 text-muted">
                                <i class="icon-spinner2 spinner position-left text-primary"
                                   v-if="status === 'saving'"></i>
                                <i class="icon-check position-left text-success" v-else-if="status === 'success'"></i>
                                <i class=" icon-exclamation position-left text-danger"
                                   v-else-if="status === 'error'"></i>
                                <i class="icon-spinner2 position-left text-muted" v-else></i>
                                保存
                            </a>
                        </div>


                        <div class="col-xs-4">
                            <a href="#" class="display-block p-10 text-muted" data-popup="tooltip" data-placement="top"
                               data-container="body" title="" data-original-title="下在成 MD 文件"><i
                                        class="icon-pencil position-left"></i>编辑</a>
                        </div>


                        <div class="col-xs-4">
                            {#<a href="#" class="display-block p-10 text-muted ajax delete" ><i class=" icon-trash position-left"></i> 回收站</a>#}

                            {#<a :href="'/admin/posts/'+ _.id+'/delete'"#}
                            <a :href="'/admin/posts/delete?ids=' + _.id"
                               class="display-block p-10 text-muted ajax delete"><i
                                        class=" icon-trash position-left"></i> 回收站</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="text-center content-group-lg pt-20">
            <page :allpage="allpage" :page="page" v-on:increment="incrementTotal"></page>
        </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}



{% block script %}
    <script type="text/javascript" src="/static/assets/js/masonry/masonry.pkgd.min.js"></script>

    <script type="text/javascript" src="/static/assets/js/plugins/ui/prism.min.js"></script>

    <script>

        Vue.component("page", {
            delimiters: ['${', '}'],
//            template:"#page",
            template: '<ul class="pagination pagination-flat pagination-xs" > <li v-show="current != 1" @click="current-- && goto(current)" ><a href="#">上一页</a></li> <li v-for="index in pages" @click="goto(index)" :class="{\'active\':current == index}" :key="index"> <a href="javascript:;" >${index}</a> </li> <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)"><a href="#" >下一页</a></li> </ul>',
            data: function () {
                return {
                    current: this.page || 1,
                    showItem: 5,
                }
            },
            props: [
                "allpage",
                "page"
            ],
            computed: {
                pages: function () {
                    var pag = [];
                    if (this.current < this.showItem) { //如果当前的激活的项 小于要显示的条数
                        //总页数和要显示的条数那个大就显示多少条
                        var i = Math.min(this.showItem, this.allpage);
                        while (i) {
                            pag.unshift(i--);
                        }
                    } else { //当前页数大于显示页数了
                        var middle = this.current - Math.floor(this.showItem / 2),//从哪里开始
                            i = this.showItem;
                        if (middle > (this.allpage - this.showItem)) {
                            middle = (this.allpage - this.showItem) + 1
                        }
                        while (i--) {
                            pag.push(middle++);
                        }
                    }
                    return pag
                }
            },
            methods: {
                goto: function (index) {

                    if (index == this.current) return;
                    this.current = index;
//                    $.event.trigger({
//                        type: "message"
//                    });
                    this.$emit('increment', index)
                    //这里可以发送ajax请求
                }
            }
        })
    </script>
    <script>
        // @formatter:off

        TERMS = <$ snippet_terms | safe $>;

        // @formatter:on

    </script>
    <script type="text/javascript" src="/static/components/snippet/main.js"></script>


{% endblock %}